[2018-03-22 10:22] julianoes opened #1 "Implement frontend core"

[2018-03-22 10:23] julianoes opened #2 "Implement telemetry frontend"

[2018-03-22 10:30] julianoes opened #3 "Implement telemetry health"

[2018-03-22 10:34] julianoes opened #4 "Implement frontend mission"
- [x] UploadMission
- [x] DownloadMission
- [x] StartMission
- [x] PauseMission
- [x] SetCurrentMissionItemIndex
- [x] GetCurrentMissionItemIndex
- [x] GetMissionCount
- [x] IsMissionFinished
- [x] SubscribeMissionProgress

[2018-03-22 10:41] julianoes opened #5 "Implement frontend for camera"
- [x] TakePhoto
- [x] StartPhotoInterval
- [x] StopPhotoInterval
- [x] StartVideo
- [x] StopVideo
- [x] StartVideoStreaming
- [x] StopVideoStreaming
- [x] SetMode
- [x] SubscribeMode
- [x] SetVideoStreamSettings
- [x] SubscribeVideoStreamInfo
- [x] SubscribeCaptureInfo
- [x] SubscribeCameraStatus
- [x] SubscribeCurrentSettings
- [x] SubscribePossibleSettings
- [x] SetSetting

[2018-03-22 10:57] julianoes opened #6 "Implement media download frontend"

[2018-03-30 18:45] byuarus opened #15 "Carthage setup is not working"
<img width="1033" alt="screen shot 2018-03-30 at 11 37 19 am" src="https://user-images.githubusercontent.com/10615444/38149254-bf195a46-340e-11e8-938b-f74ec4503a37.png">

Carthage fails to build DroneCore-Swift. It won't create the `Carthage/Build/iOS/Dronecode_SDK_Swift.framework`

I'm using:
- Sierra MacOS 10.12.6
- Xcode 9.2 Build version 9C40b
- Carthage version 0.29.0

Step to reproduce:

- c

[2018-04-03 18:54] byuarus commented on #15
Thank you, it fixed the `carthage update`! I got the `Carthage/Build/iOS/Dronecode_SDK_Swift.framework`. I have access to the Action class from my code.

Then I did [these steps](https://github.com/dronecore/DroneCore-Swift#add-the-framework-into-your-project):

Now I have different issues:
- When I select simulator as my target device I'm getting this error when I try to build and run the app:
`d

[2018-04-03 19:27] JonasVautherin commented on #15
The first error (`dyld: Library not loaded: @rpath/RxSwift.framework/RxSwift`) seems like the library has not been copied during the installation (`@rpath` is where it looks to load the library at runtime). @ayameMBS: shouldn't he add all the dependencies in his framework as well (i.e. in the "Embedded Binaries")? That's what I do, at least...

For the second error, I think you should disable the

[2018-04-03 19:36] ayameMBS commented on #15
@JonasVautherin yes exactly. @byuarus you need also to add all the frameworks in the folder /Users/marjo/testCarthage/Carthage/Checkouts/DroneCore-Swift/Source/Dronecode-SDK-Swift/Dronecode-SDK-Swift/libs/dronecode-sdk-swift-deps-latest

And sure thanks for the comments ^^

[2018-04-06 12:56] #1 closed

[2018-04-09 09:28] nguyenvietvu opened #21 "[Cocoa pod] Install error"
I run "pod install" at
**/DroneCore-Swift-master/Sample Code/Swift Sample Code**
 but error occured
Please help me to solve it, pod's log below:

Analyzing dependencies
Downloading dependencies
Installing DroneCore-Swift (0.0.1)

[!] Error installing DroneCore-Swift
[!] /usr/bin/curl -f -L -o /var/folders/k4/5cpcyfbx6nd7y0fdvb6rqhz80000gn/T/d20180409-28514-1ibv0sn/file.zip https://s3.eu-central-1.

[2018-04-09 09:45] JonasVautherin commented on #21
Hello @nguyenvietvu!

The link is outdated, indeed. @ayameMBS or I will fix this soon. Please try again by the end of the week and let us know how it goes! :-)

[2018-04-11 12:27] #3 closed

[2018-04-13 08:57] JonasVautherin commented on #21
Hi @nguyenvietvu! So the cocoapod config is still not fixed, sorry about that.

However, if you want to give it a shot, you can try the manual install :-). Note that the Swift SDK is not yet feature-complete.

[2018-04-19 21:24] JonasVautherin commented on #21
@nguyenvietvu, I believe @ayameMBS fixed the bug [here](https://github.com/dronecore/DroneCore-Swift/pull/26).

Can you update, try again, and let us know if it works for you?

[2018-04-27 14:15] julianoes opened #29 "Carthage build not working"
[code]

The log ends with:

[code]

[2018-04-27 15:58] julianoes opened #30 "Incompatible library version of libswiftCore.dylib"
I'm using:
macOS 10.13.4 High Sierra
XCode 9.3 with Toolchain: Swift 4.0.3.

`pod install` worked and the build works as well but on loading I get:

[code]

I've tried deleting all of `DerivedData` and clean building without success.

[2018-04-27 17:50] julianoes commented on #30
Using XCode 9.2 it works.

[2018-05-11 14:42] JonasVautherin commented on #30
Closing, as I think we all managed to build/run the code on High Sierra with Xcode 9.3 by now.

[2018-05-11 14:42] #30 closed

[2018-05-29 22:42] JonasVautherin commented on #21
Closing due to inactivity.

[2018-05-29 22:42] #21 closed

[2018-05-29 22:45] JonasVautherin opened #47 "Remove Carthage"
As discussed with @byuarus and @ayameMBS, let's remove support for Carthage and keep Cocoapods and the build scripts.

* Remove Carthage configuration
* Remove Carthage instructions from README

Addressing #15 and #29.

[2018-05-29 22:45] JonasVautherin commented on #29
Closing in favor of #47.

[2018-05-29 22:45] #29 closed

[2018-05-29 22:45] JonasVautherin commented on #15
Closing in favor of #47.

[2018-05-29 22:45] #15 closed

[2018-05-29 22:48] JonasVautherin opened #48 "Show mission on the map"
Would be nice to show, on the map, the mission that the sample app will upload to the drone.

@ayameMBS Is it a reasonably easy thing to do?

[2018-05-29 22:50] JonasVautherin opened #49 "Place the sample mission around the drone"
Not everybody is running the simulator in Zurich. It would be nice to set the sample mission with respect to the position of the drone (e.g. update the mission if it is more than x meters away from the (home) position of the drone).

What do you think @ayameMBS?

[2018-05-29 22:52] JonasVautherin commented on #6
Depends on [the proto file definition](https://github.com/dronecore/DroneCore-Proto/issues/21).

[2018-05-30 19:58] julianoes opened #50 "Swift Version conflict in XCode 9.3"
I tried to compile and run the example in order to test the live stream with the E90.

Unfortunately, I get the Swift version error:
[code]

Could it be that `Dronecode_SDK_Swift.framework` is still built using XCode 9.2 or earlier? Or is something wrong with my setup/config?

[2018-05-30 20:18] JonasVautherin commented on #50
Are you using cocoapods? Did you run `pod update` and/or `pod install`?

I had the same issue because I was on 0.0.2, and the latest version is 0.0.3.

[2018-05-31 15:08] ayameMBS commented on #48
@JonasVautherin yep there is a branch sample-show-mission. for now this is only an orange trace, but I will add a start and stop flag

[2018-05-31 15:55] JonasVautherin commented on #48
Perfect! Feel free to open a PR whenever you feel it can be merged!

[2018-05-31 17:29] julianoes commented on #50
Aha yes I had only done `pod install`, `pod update` did the trick.

[code]

Now I get:
[code]

Thanks!

[2018-05-31 17:42] JonasVautherin commented on #50
Did you open the workspace then? I always make the mistake to open the xcodeproj, and then I miss the dependencies :sweat_smile:

[2018-06-01 01:14] julianoes commented on #50
Ah, thanks. I'll try that next.

[2018-06-01 08:00] LorenzMeier commented on #50
Do we have good documentation with Screenshots on how to do that?

[2018-06-04 08:17] JonasVautherin commented on #50
[Here](https://github.com/dronecore/dronecore-swift#cocoapods) are the installation instructions, and [here](https://github.com/dronecore/dronecore-swift#cocoapods-1) the update instructions. And that's all standard CocoaPods, I believe.

The thing is that we are not so used to CocoaPods, so we have to get used to it ;-).

[2018-06-05 20:51] #48 closed

[2018-06-07 10:02] julianoes commented on #50
Ok once I opened the workspace it was all fine, thx.

[2018-06-07 10:02] #50 closed

[2018-06-11 16:30] JonasVautherin opened #56 "Start/stop video stream are not working"

[2018-06-11 16:31] JonasVautherin opened #57 "MissionProgress crashes when reaching the first waypoint"

[2018-06-11 16:35] JonasVautherin opened #58 "Backend.framework fails Apple validation"
Steps to reproduce:

* Open the DroneCore sample app
* Select `Deployment target` 10.0
* Select `generic iOS Device` as your target device in XCode
* Go to `product`->`archive`
* When it is done, go to `window`->`organizer` and select tab `Archives`
* Select the latest archive and `Validate..`, then agree with everything and complete the validation. You will see the list of errors.

Most of those

[2018-06-13 14:38] JonasVautherin commented on #58
It should be fixed in `backend.framework`, but I will also need to add `CFBundleVersion` to all the gRPC dependencies (i.e. all the gRPC-related frameworks).

[2018-06-13 22:22] JonasVautherin commented on #56
There is a startVideo() and stopVideo() in the Camera.swift file.

Dmitry was not sure what it was supposed to do, but it seemed to him like it was not doing anything. The goal here would be to check if it does something or not with the E90. I guess it is supposed to start/stop recording a video on the SD card of the camera, isn't it?

[2018-06-13 22:33] Sushma7785 commented on #56
Okay. I thought it was something to do with live video stream.

Yes. That's right. I will try to check if it does something or not.

[2018-06-14 04:51] JonasVautherin commented on #56
Great, thanks a lot!

[2018-06-14 05:40] julianoes commented on #56
It could be that the mode was not set to video and so it would not work.

[2018-06-15 13:16] JonasVautherin opened #60 "Add camera features to Sample app"
Not all the features are implemented yet, but many of them are (like `takePhoto`, etc), as detailed in #5.

Would be nice to add them/some of them in the app already.

[2018-06-15 13:16] JonasVautherin commented on #60
@ayameMBS Do you think you could have a look at this? So that the sample app would already have the structure to add the other features when they get implemented :-).

[2018-06-16 00:13] Sushma7785 commented on #56
Start/stop capturing video on E90 is working.

[2018-06-16 21:37] JonasVautherin commented on #56
Thanks for testing! Can you explain what it is doing exactly? Is it creating a video file on the SD card?

No actually @douglaswsilva and @byuarus had the right SDK version, but they did not really know what to expect with those functions. So I guess it was not clear if it was doing anything at all?

[2018-06-17 19:35] Sushma7785 commented on #56
So startVideo() and stopVideo() in the Camera.swift, starts and stops video recording in the camera and stores it in the SD card.

Note: Camera mode should be in video mode to successfully record video.

[2018-06-17 21:19] JonasVautherin commented on #56
Do you know what happens if it is not? Does it return an error, or does it just ignore it?

[2018-06-18 17:59] Sushma7785 commented on #60
@JonasVautherin I can start working on this if that is okay.

[2018-06-18 21:38] Sushma7785 commented on #56
When the mode is not video, then it returns error "The operation couldn’t be completed".
But one issue is, setting camera mode to video is not working, it always returns error. So I set video mode using our other app and then tried recording the video.

[2018-06-19 12:04] JonasVautherin commented on #56
Thanks Sushma, I'll have a look at `setMode` ASAP.

[2018-06-19 12:05] JonasVautherin commented on #60
Thanks Sushma. Let's wait from a confirmation from @ayameMBS, maybe she already started that locally.

[2018-06-20 18:35] ayameMBS commented on #60
Sorry for the late reply. No, I haven't start yet that implementation. So @Sushma7785  you can do it.

[2018-07-04 13:41] #49 closed

[2018-08-31 00:16] mrpollo opened #72 "Needs CI"
we need to guarantee a certain degree of safety on our SDK, we need to set up a recipe for building/running tests and host that on Jenkins.

- [ ] build script
- [ ] integration-tests script
- [ ] jenkins job
- [ ] jenkins <-> github integration
- [ ] readme build badge

[2018-08-31 00:55] JonasVautherin commented on #72
That's already started: @dagar set up Jenkins a few weeks ago already, and I've started looking into it. I just haven't had time to actually finish that, but it will come ASAP.

We will have everything from your list, except the integration tests. Integration tests are more tricky (Do we run one simulator instance per test? Does it scale? If we share one simulator, how do we make sure the drone is

[2018-08-31 16:14] mrpollo commented on #72
Awesome, let me know if there's anything you guys need.

re simulation: I would say starting a stopping SITL per test isn't that bad of an idea, at least it worked out for us in python

Example test [dronekit-python:dronekit/test/sitl/test_waypoints.py](https://github.com/dronekit/dronekit-python/blob/master/dronekit/test/sitl/test_waypoints.py)

SITL helper utility [dronekit-python:dronekit/test/

[2018-12-13 20:36] hjames2 opened #100 "Arming Failed: Can't connect to 3DR Solo"
Hello,

I am trying to get a working sample of the DronecodeSDK library working in my iOS app.  That being said, I am having trouble getting the SDK to actually connect to my 3DR Solo drone.  By following the basic guide in the README, I get the following error while attempting to arm the drone:

_Arming failed: The operation couldn't be completed. (SwiftGRPC.RPCError error 0)_

I have made sure t

[2018-12-13 23:03] JonasVautherin commented on #100
Hmm I've never tried the Solo. Does it get recognized? You would see some logs similar to:

[code]

Would you mind trying with SITL first? If you have docker, you can try to run [this container](https://github.com/JonasVautherin/px4-gazebo-headless). I personally connect it directly to my phone (but it should work with the iOS simulator), like so:

    docker run --rm -it jonasvautherin/px4-gazebo

[2018-12-14 10:38] julianoes commented on #100
@hjames2 what port does Solo send UDP MAVlink traffic on? I suspect the default QGC port 14550. By default the SDK connects on 14540. If you want to use 14550 instead you should be able to add that port like this:
[code]

[2018-12-19 10:15] caiyunfeide opened #101 "Introduce The Library"
I want to introduce the library into the existing OC project, may I ask what method is needed? The Carthage import library used in the demo often times out of time. Can we download the library separately and introduce it into the demo?

[2018-12-19 10:33] caiyunfeide commented on #101
I want to introduce this library into the existing OC project, which USES CocoaPods instead of Carthage

[2018-12-19 10:35] caiyunfeide opened #102 "Carthage bootstrap timed out"
The Carthage import library used in the demo often times out of time. Can we download the library separately and introduce it into the Demo?

[2018-12-19 11:33] JonasVautherin commented on #102
We do not provide the binary files for download, and currently rely on Carthage for distribution.

However, the project is open source, which means that you can build the libraries from sources yourself.

[2018-12-19 12:49] caiyunfeide commented on #101
It Mean The Project Use Objective-C

[2018-12-19 13:32] caiyunfeide commented on #101
I may trouble you again if I have any problems in the future. Thank you for your advice

[2018-12-19 14:41] JonasVautherin commented on #101
No worries! Good luck!

[2018-12-19 14:41] #101 closed

[2018-12-20 01:56] caiyunfeide commented on #102
Can an objective-c project use CocoaPods and Carthage at the same time

[2018-12-20 06:36] JonasVautherin commented on #102
I guess, yes. Carthage just pulls sources and builds binaries out of them. If you can directly give binaries to Cocoapods (and I believe you can), then that should be possible.

[2018-12-20 09:58] caiyunfeide commented on #102
Thank you. I'll try again

[2018-12-20 10:01] caiyunfeide commented on #102
Excuse me, when I used Carthage bootstrap --platform ios, an error was thrown and the Build Failed
Task failed with exit code 65:
The/usr/bin/xcrun xcodebuild - project/Users/Miao/Desktop/DronecodeSDK - Swift - 0.2.1 / Carthage Checkouts/GRPC - Swift/SwiftGRPC - Carthage. Xcodeproj - scheme SwiftGRPC - Carthage - Package - the configuration Release - derivedDataPath/Users/Miao/Library/Caches/org.

[2018-12-20 11:00] julianoes commented on #102
It says "check these logs for more details". It would be good if you could paste these.
And please put anything you paste in-between ```.

[2018-12-20 12:18] JonasVautherin commented on #102
So it doesn't time out, but the build actually fails. And it seems to come from SwiftGRPC.

@caiyunfeide: Can you confirm that you use Xcode 10? SwiftGRPC doesn't build with Carthage on Xcode 10 yet, we are using Xcode 9.4.1 here.

[2018-12-20 12:21] caiyunfeide commented on #102
Yes, I'm using Xcode10..

[2018-12-20 12:41] caiyunfeide commented on #102
Where can I find the source code of backend. Framework

[2018-12-20 13:17] julianoes commented on #102
The backend is built manually from the C++ Dronecode SDK.
Check the build instructions "Building the backend"  here:
https://sdk.dronecode.org/en/contributing/build.html

[2018-12-27 14:28] SandW opened #103 "Cannot connect to jMavSim running inside the LAN from iPhone, but QGC can."
Beforehand, in iPhone emulator, the swift demo app can connect to the drone simulated in local jMavSim.

Now, the problem is:
1. jMavSim started and set to broadcast MAVLINK to ports 14550 and 14540 in PC1.
2. QGC can connect to the drone in the jMavSim from PC2 in the same LAN.
3. The swift demo app running on real iPhone in Macbook(**the 3rd computer**) **cannot** connect to jMavSim running on P

[2018-12-29 14:17] julianoes commented on #103
1. Have you checked that your LAN and Wifi network are bridged?
You can check this by connecting using QGC on a computer in the Wifi.

2. What's the output in the command line when you start the iOS app?

If you're in China, and you see `no route to host`, it could be that your iPhone is not allowing the network connection and you need something like this:
https://github.com/YUNEEC/Yuneec-SDK-iOS/

[2019-01-07 13:09] caiyunfeide commented on #103
In my code I can connect to 'http://www.google.com' ,but can't connect to 'https://192.168.42.1/' , Now I can't connect the iphone  the jmavsim. What should I do

[2019-01-07 13:14] caiyunfeide commented on #103
When I connect to 'https://192.168.42.1/' , Remind me ' Error Domain=NSURLErrorDomain Code=-1001 "The request timed out." '

[2019-01-07 13:53] JonasVautherin commented on #103
@caiyunfeide: Is it related to @SandW question above? It is not the same username, I am confused :confused:

[2019-01-07 14:04] caiyunfeide commented on #103
We work in a team sorry.

[2019-01-07 14:07] JonasVautherin commented on #103
Right. So you haven't answered most of our questions, please have a look again and answer them.

If I had to guess, I would say that it looks like your iPhone is connected to the Internet, but that it is not on the same network as the computer running jmavsim (192.168.42.1). Did it ever work? @SandW question above sounds like at some point, your setup was working.

[2019-01-07 14:32] SandW commented on #103
It has not worked till now.

Both ports are not work.

I set jMavSim to broadcast in the PX4 parameters from QGC in PC2.

What I meant for LAN = Wifi. I can connect QGC with jMavSim in the Wifi as I described in the first post.

[2019-01-07 15:39] julianoes commented on #103
Ok, can you paste the printf/debug output in XCode?

[2019-01-08 07:07] caiyunfeide commented on #103
**PC1: Linux,Ubuntu16.04,jMavSim broadcasting Mavlink on ports 14550 and 14540. IP address is 192.168.50.44.**

Macbook: Xcode, iPhone Simulator,jMavSim broadcasting Mavlink on ports 14550 and 14540. IP address is 192.168.50.238.

Real iPhone.

—————————————

- Successful connection:

Settings in DronecodeSDK-Swift: ipString = ”localhost" , portNumber = 50051.
Xcode command line output using iPhon

[2019-01-08 08:40] julianoes commented on #103
Ok, so I think there is some confusion about the different pieces having to connect.

So the Swift "frontend" should always connect to the "backend" on localhost:50051. I don't think there is a need to change that (unless you completely want to change the architecture of the deployment so that the backend runs on a computer and only the frontend on the phone).

Then, you need to make sure that the

[2019-01-08 13:30] JonasVautherin commented on #4
That's resolved.

[2019-01-08 13:30] #4 closed

[2019-01-08 13:30] JonasVautherin commented on #5
Resolved.

[2019-01-08 13:30] #5 closed

[2019-01-08 13:33] JonasVautherin commented on #47
We actually went for Carthage eventually :D.

[2019-01-08 13:33] #47 closed

[2019-01-08 13:33] hjames2 commented on #100
Sorry, unfortunately other projects have pulled me away from this one and I have not had time to change and recompile the swiftSDK.  I will close this issue for now and possibly re-open it when/if I have time to test it further.  Thanks for your help thus far.

[2019-01-08 13:33] #100 closed

[2019-01-08 15:31] JonasVautherin opened #104 "Carthage build fails with Swift 4.2 / Xcode 10"
Carthage build fails because of grpc-swift, as my Carthage integration there was relying on an implementation detail of Swift 4.1, and breaks with Swift 4.2+.

This issue is related to https://github.com/grpc/grpc-swift/issues/329.

I tried to fix it using xcodegen ([see PR here](https://github.com/grpc/grpc-swift/pull/336)), but did not finish it. Somebody with more experience with Xcode projects

[2019-01-08 15:32] JonasVautherin commented on #102
Closing here as it is the same issue as #104.

[2019-01-08 15:32] #102 closed

[2019-01-09 23:41] byuarus opened #106 "Add method for cancelling mission upload/download process"
For big missions, mission upload/download process could take a significant time. We need to have an option to cancel a mission upload and start uploading another mission. If we try to upload/download while upload/download is in progress, the request will fail.

[2019-01-09 23:51] byuarus opened #107 "Add method for cancelling calibration process"
If a user enters calibration state the drone will be in that state until it finishes calibration. Otherwise, a user has to reboot the drone.

[2019-01-09 23:55] byuarus opened #108 "healthObservable doesn't update calibration status after the calibration is complete"
As healthObservable doesn't update calibration status there is no way to know that the drone has a normal calibration state for all sensors. Currently, you have to restart an app in order to receive updated calibration states of sensors.

[2019-01-10 00:02] byuarus opened #109 "Implement plugin to set mavlink params"
This feature will allow us to set different configuration for the drone, like RC signal loss behavior, enable/disable HITL mode, failsafe behavior, adjust RC sticks sensitivity...

[2019-01-11 08:10] julianoes commented on #107
Done in C++: https://github.com/Dronecode/DronecodeSDK/pull/626

[2019-01-11 08:10] julianoes commented on #106
Done in C++: https://github.com/Dronecode/DronecodeSDK/pull/626

[2019-01-12 03:50] SandW commented on #103
Yes, we thought that the 50051 is the local SITL port.  Thanks!

As you mentioned above, we do not need to change 50051 anymore. OK.

The SDK does not pick up anything from MAVLink. That is the key point of this issue. The apps running the SDK sample in iPhone does not pick anything up, even the parameters had changed and QGC can connect to the SITL.

We have not tested this method yet. We would l

[2019-01-12 03:53] SandW commented on #103
Have you tested the real iPhone sample of dronecodesdk_swift without using mavlink router? Can you share your apps with us?

[2019-01-13 00:56] JonasVautherin commented on #103
The SDK is expecting to receive MAVLink messages from the autopilot. By enabling the mavlink broadcast, depending on the network topology, the SDK will receive them. But on some networks, that won't work. And it is just a limitation of broadcasting over the network, and it has nothing to do with the SDK.

If the MAVLink broadcast doesn't work, you can tell SITL to send the messages directly to you

[2019-01-14 06:42] roseyangyu commented on #103
I have used v1.8.0.I can't find this file.I must change my version to v1.9.0? @julianoes

[2019-01-14 08:13] SandW commented on #103
We have solved the issue. The solution is:
[code]
Thank you  @JonasVautherin @julianoes  very much!

[2019-01-14 09:48] JonasVautherin commented on #103
Oh that's a good point. In v1.8.0, it is in `posix-configs/SITL/init/ekf2/iris`. So you could go add `-t {LAN IP}` there, too.

Glad to see that you found a way!

[2019-01-14 09:48] #103 closed

[2019-01-17 08:53] #104 closed

[2019-02-08 23:35] JonasVautherin commented on #60
Not part of this repo anymore.

[2019-02-08 23:35] #60 closed

[2019-03-22 15:53] Renosi opened #114 "Cannot build GRPC-Swift package in SwiftGRPC-Package.xcodeproj with Carthage"
Currently I'm trying to use the Carthage build to add the frameworks. I am running Carthage version 0.32 and Swift 4.2

I am having issues when trying to run

``carthage bootstrap --platform ios``

I am currently stuck with the build error:

``Downloading RxSwift.framework binary at "Atomic.2``
``*** Building scheme "SwiftGRPC-Package" in SwiftGRPC-Carthage.xcodeproj``
``Build Failed``
	``Task fai

[2019-03-25 06:25] julianoes commented on #114
What's in the logfile /var/folders/_s/vpqkvyq96rl9q9kj_b50w1s80000gn/T/carthage xcodebuild.aT7PEJ.log ?

[2019-03-25 10:18] Renosi commented on #114
[carthage-xcodebuild.rMztLb.log](https://github.com/Dronecode/DronecodeSDK-Swift/files/3002730/carthage-xcodebuild.rMztLb.log)

[2019-03-25 11:01] julianoes commented on #114
Ok thanks. I see this but I'm not sure what's wrong.

[code]

Can you check that you have

[2019-03-25 11:05] julianoes commented on #114
What's the content of your `Cartfile`?

Btw. you can put ` (1 tick) for inline or ``` (3 ticks) for multiline around your code

[2019-03-25 11:09] julianoes commented on #114
It builds for me with this output:
[code]

That's also with carthage 0.32.0, and XCode 10.1, and Swift version 4.2.1:

[code]

[2019-03-25 11:26] Renosi commented on #114
Thanks for looking into this and yeah I didn't know about the multiline.

My cartfile contains
`github "Dronecode/DronecodeSDK-Swift" ~> 0.3.0`

[2019-03-25 11:54] JonasVautherin commented on #114
Do you have ruby installed (not sure if it comes by default on macOS or not)? `$ which ruby` or `$ ruby --version`?

[2019-03-25 12:11] Renosi commented on #114
I definitely have Ruby installed

```MacBook-Pro-2:Medical Drone GC renosimomoh$ ruby -v```
```ruby 2.3.7p456 (2018-03-28 revision 63024) [universal.x86_64-darwin18]```

[2019-03-25 12:27] julianoes commented on #114
I just removed my `Cartfile.resolved` and used `github "Dronecode/DronecodeSDK-Swift" ~> 0.3.0` in the `Cartfile` and it worked fine:

I suggest you clean everything that Carthage has built already:
[code]

as well as the Carthage caches:
[code]

[2019-03-25 12:39] Renosi commented on #114
I tried everything but I still get the same error. I updated Ruby to the latest version, I removed the `Cartfile` and `Cartfile.resolved` as well as cleaning everything built already up to and including Carthage caches.

[2019-03-25 13:09] JonasVautherin commented on #114
What's `/Users/renosimomoh/Library/Mobile`?

[2019-03-25 13:40] davidknezic commented on #114
@Renosi I've noticed this line at the end of your log file:

[code]

Can you check, does the folder `Carthage/Checkouts/grpc-swift/.build/checkouts/swift-protobuf.git-3495140620946553999/` in your project exist? I've had a similar problem and thought that this was resolved with https://github.com/grpc/grpc-swift/pull/360.

[2019-03-25 13:49] Renosi commented on #114
Not sure where you saw that but it should say `/Users/renosimomoh/Library/Mobile Documents`
It's basically just the directory to my main iCloud Drive folder.

[2019-03-25 14:52] JonasVautherin commented on #114
That is an error in your log. Can you try to copy your cartfile in a tmp directory without spaces (e.g. `/tmp/trying-to-build/Cartfile`), with the same content as you have:

[code]

And run `$ carthage bootstrap --platform ios` from there?

[2019-03-25 17:51] Renosi commented on #114
Just tried to build it in the `/tmp` folder. Seemingly the exact same error but I have attached the log files in case you wanted to have a look
[carthage-xcodebuild.tZfHOU.log](https://github.com/Dronecode/DronecodeSDK-Swift/files/3004776/carthage-xcodebuild.tZfHOU.log)

[2019-03-25 17:54] julianoes commented on #114
@Renosi oh can you please try this:

[code]

[2019-03-25 18:00] Renosi commented on #114
I tried that and got this at my output at the terminal but I'm not quite sure how this solves the problem.

[code]

[2019-03-25 18:39] julianoes commented on #114
Try `which xcodeproj` to see if the command works. If not, do this `export PATH=$PATH:/Users/renosimomoh/.gem/ruby/2.4.0/bin` to temporary add it to the path.

[2019-03-25 19:11] Renosi commented on #114
When I try the command `which xcodeproj`. I get`/Users/renosimomoh/.gem/ruby/2.4.0/bin/xcodeproj`
so I know the path has been added but still getting the same error

[2019-03-25 22:46] JonasVautherin commented on #114
I don't think it is the same error. Let's try to fix the `/tmp` build just in case, and we'll come back to the "folder name with space" later.

Would you mind pasting the latest log of that? The previous one was saying:

which sounded like `xcodeproj` was not installed (and it apparently wasn't installed before, given that your output said "Successfully installed xcodeproj-1.8.1").

[2019-03-26 08:15] Renosi commented on #114
I wasn't sure If I ran`gem install -user xcodeproj`so I ran it again this morning to make sure.
[carthage-xcodebuild.lfzqxj.log](https://github.com/Dronecode/DronecodeSDK-Swift/files/3007132/carthage-xcodebuild.lfzqxj.log)

[2019-03-26 11:23] JonasVautherin commented on #114
Do you have a space in your name again? What is `/tmp/Proj`?

[2019-03-26 11:54] Renosi commented on #114
I've run the folder without the spaces to a name and I still got the error with the build input files not being found in the folder.
[carthage-xcodebuild.bqvVqw.log](https://github.com/Dronecode/DronecodeSDK-Swift/files/3008002/carthage-xcodebuild.bqvVqw.log)

[2019-03-26 13:18] JonasVautherin commented on #114
[code]

I believe it is failing at [this line](https://github.com/grpc/grpc-swift/blob/master/fix-carthage-paths.rb#L1), which is `require xcodeproj`. It is also the same error as e.g. [here](https://github.com/CocoaPods/pod-template/issues/222).

Would you mind trying to make a minimal ruby script (say `test.rb`) containing `require xcodeproj` and trying to run it?

[2019-03-27 13:54] Renosi commented on #114
What are the prerequisites for running the script? I tried to run the testy.rb file with `require xcodeproj` in the Dronecode SDK swift folder and I got:

``DronecodeSDK-Swift-master renosimomoh$ ruby testy.rb
testy.rb:1:in `<main>': undefined local variable or method `xcodeproj' for main:Object (NameError)
``

[2019-03-27 13:58] julianoes commented on #114
I get the same output with the test file, but like this it works:
[code]

[2019-03-27 14:03] Renosi commented on #114
Ok now I'm getting this

``todors-iphone:DronecodeSDK-Swift-master renosimomoh$ ruby testy.rb
/Users/renosimomoh/.rvm/rubies/ruby-2.4.2/lib/ruby/site_ruby/2.4.0/rubygems/core_ext/kernel_require.rb:54:in `require': cannot load such file -- xcodeproj (LoadError)
	from /Users/renosimomoh/.rvm/rubies/ruby-2.4.2/lib/ruby/site_ruby/2.4.0/rubygems/core_ext/kernel_require.rb:54:in `require'
	from testy.rb

[2019-03-27 14:22] JonasVautherin commented on #114
Which seems similar to [the error in your log](https://github.com/Dronecode/DronecodeSDK-Swift/issues/114#issuecomment-476628054).

Seems like your issue is that `xcodeproj` is not installed properly. Running the `test.rb` script @julianoes shows above works both for him and for me.

[2019-03-27 15:20] Renosi commented on #114
Yes you're right. I logged into a guest account on the same PC and ensured that the ruby path was added properly by doing it several times. I think the issue was that the Ruby path I was adding to the file was 2.4.0 when the version was actually 2.3.0 meaning that not all of the gems were properly installed. It works now.

[2019-03-27 16:10] julianoes commented on #114
Great, thx for the feedback.

[2019-03-27 16:11] #114 closed

[2019-04-05 11:21] JonasVautherin commented on #109
That's fixed in `0.4.1`.

[2019-04-05 11:21] #109 closed

[2019-04-05 11:21] #108 closed

[2019-04-05 11:22] JonasVautherin commented on #107
Done in `0.4.1`.

[2019-04-05 11:22] #107 closed

[2019-04-05 11:22] JonasVautherin commented on #106
Done in `0.4.1`.

[2019-04-05 11:22] #106 closed

[2019-05-06 21:20] douglaswsilva opened #120 "Error building SDK from Carthage"
Keep get this error when trying to run `carthage bootstrap --platform ios`:

[code]

NOTE: We're using XCode 10.1

[2019-05-06 21:24] douglaswsilva commented on #120
[douglog.log](https://github.com/Dronecode/DronecodeSDK-Swift/files/3149893/douglog.log)

[2019-05-06 22:54] JonasVautherin opened #121 "runBackend() now takes a connection url instead of a mavlink port"
`runBackend()` [used to take a port](https://github.com/Dronecode/DronecodeSDK-Swift/blob/master/Sources/Dronecode-SDK-Swift/Drone.swift#L68) as a parameter, but it [now takes a connection url](https://github.com/Dronecode/DronecodeSDK/pull/730).

I would suggest we fix that in `master` in this repo, and soon make a release with the new backend, [StatusText](https://github.com/Dronecode/DronecodeS

[2019-05-06 23:02] JonasVautherin commented on #120
Seems like they released [gRPC-Swift 0.9.0](https://github.com/grpc/grpc-swift/releases/tag/0.9.0) with "fixes for Swift 5".

@douglaswsilva: would you mind [trying gRPC-Swift 0.9.0](https://github.com/Dronecode/DronecodeSDK-Swift/blob/master/Cartfile#L1)? Should be a matter of editing the SDK Cartfile and running Carthage again.

[2019-05-07 00:42] byuarus commented on #120
@JonasVautherin I've just checked and I see that [gRPC-Swift 0.9.0](https://github.com/grpc/grpc-swift/releases/tag/0.9.0) doesn't work with the XCode 10.1 (Swift 4.2) but [the latest commit in master](https://github.com/grpc/grpc-swift/commit/67a5352f179751f6aef4e709c030308722f97073) works.

[2019-05-07 09:30] JonasVautherin commented on #120
Oh, good find!

Just to recap then: it broke, but...
* We haven't changed the release of gRPC-Swift that we use
* We are still building with Swift 4.2

What could have changed that would break the build? Could it be a change in RxSwift? Like instead of `~> 4.0` should we fix it to some version?

[2019-05-07 18:31] byuarus commented on #120
Hi @JonasVautherin,
- I think that the Carthage was broken for a while when you have changed the version of gRPC-Swift that you use. I think it was the only issue for the Carthage builds. Please check my PR #122  that should fix Carthage support for the SDK.
- Yes, we're still using XCode 10.1 and Swift 4.2. We can't migrate our code to Swift 5 and XCode 10.2 yet as some of our 3rd party libraries

[2019-05-09 22:43] #120 closed

[2019-05-10 12:10] unipheas opened #125 "Error with backend.json 0.16.0"
When performing the command
`Carthage build --platform iOS --no-skip-current --verbose`
I am receiving the following error
`*** Downloading binary-only framework backend at "https://s3.eu-central-1.amazonaws.com/dronecode-sdk/backend.json"
No available version for binary "https://s3.eu-central-1.amazonaws.com/dronecode-sdk/backend.json" satisfies the requirement: == 0.16.0`
I had to change the Car

[2019-05-10 14:08] JonasVautherin commented on #125
I had it as well, I believe. Can you try to [clean Carthage cache](https://stackoverflow.com/questions/46346743/carthage-error-no-available-version-for-binary)? Seems like Carthage sometimes needs that when using binary-only frameworks :roll_eyes:.

    rm -rf ~/Library/Caches/org.carthage.CarthageKit/
    rm -rf ~/Library/Caches/carthage/

[2019-05-13 05:25] unipheas commented on #125
This was resolved. Thank you!

[2019-05-13 05:25] #125 closed

[2019-05-20 19:34] #121 closed

[2019-05-27 03:31] unipheas opened #128 "Task failed with exit code 65"
I created a new Xcode Project for iOS. It's just a default app, nothing has changed once the create button was clicked. I then went into the terminal and into the project directory and typed the following commands as per the instructions for this repo.
[code]
I then receive this error, which was also mentioned [here](https://github.com/Dronecode/DronecodeSDK-Swift/issues/120 ) but it was for the S

[2019-05-27 12:44] JonasVautherin commented on #128
You should not get grpc-swift `0.8.2`, which apparently broke the iOS build. It was fixed by #123 in [Cartfile](https://github.com/Dronecode/DronecodeSDK-Swift/blob/master/Cartfile) and in [Cartfile.resolved](https://github.com/Dronecode/DronecodeSDK-Swift/blob/master/Cartfile.resolved#L3).

I see that you ran `carthage bootstrap --platform ios`, which is correct. So either you are not on latest `

[2019-05-27 15:22] unipheas commented on #128
Yea, that may have been it. I'll reclone the repo and start from scratch and try again. Thank you!

[2019-05-27 16:33] unipheas commented on #128
Build was successful, Thank you!

[2019-05-27 16:33] #128 closed

[2019-06-24 10:44] CoDancer opened #132 ""SchedulerType = ConcurrentDispatchQueueScheduler(qos: .background)" has crash"
func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey: Any]?) -> Bool {

[code]

but there has carsh in method of Drone init

[2019-06-24 11:23] unipheas commented on #132
@CoDancer Can you explain what's going on in more detail please? Try to include any error messages or the steps to reproduce what you have found.

[2019-06-24 13:11] CoDancer commented on #132
Thanks! There is  a project that I use the SDK, you can download and run the project, and you will see what I said.(The project url: https://github.com/CoDancer/MAVLinkSwiftDemo)

[2019-06-24 13:27] unipheas commented on #132
@CoDancer It would really help us out if you can explain what's going on and try to give us more information. Providing a project isn't the ideal way to let us know what the exact issue is. Here are some links that can help you formulate an issue.

https://wiredcraft.com/blog/how-we-write-our-github-issues/
https://upthemes.com/blog/2014/02/writing-useful-github-issues/

Thank you!

[2019-06-24 13:53] CoDancer commented on #132
@unipheas I just want to create an object of the drone in a method, so I use the "let drone = Drone.init(address: "", port: 8090)", but in the method of "public init(address: String,
                port: Int32,
                scheduler: SchedulerType = ConcurrentDispatchQueueScheduler(qos: .background))" has crash,
<img width="2806" alt="WeChatdd0cd12daf609872b3b6e6c961473d85" src="https://user-

[2019-06-24 14:23] JonasVautherin commented on #132
@CoDancer: Which version of MAVSDK-Swift do you use? Are you getting the frameworks through Carthage?

[2019-06-24 14:37] CoDancer commented on #132
<img width="1226" alt="WeChat88dd22f1834a1707ab72e6cb2617e713" src="https://user-images.githubusercontent.com/10137815/60027782-b117c600-96d0-11e9-8193-2796cd5ab0c1.png">

[2019-06-24 14:50] JonasVautherin commented on #132
Looks like your `Cartfile.resolved`, so I guess that's fine. I'll try to see if I can run your example. In the meantime, can you try our [example app](https://github.com/mavlink/MAVSDK-Swift-Example) and tell me if that fails as well?

[2019-06-24 22:29] douglaswsilva opened #133 "GRPC_CALL_OK crash"
**Tested with:**

- Yuneec H520-G and ST10C remote controller
- Swift 4 Xcode 10.1
- MAVSDK Example app
- Carftile.resolved:
[code]

**Reproduce:**

* Connect iPad to drone running HITL via wifi
* Run Example app
* After connecting to the drone and start subscribing to telemetry, app will crash.

**Crash message:**

[code]

I noticed that the crash will happen after subscribing to some telemetry o

[2019-06-25 00:31] douglaswsilva commented on #133
Note: I tested with Gazebo and didn't get the crash. I tried starting SITL before and after starting the app and it worked.

[2019-06-25 04:30] unipheas commented on #132
@CoDancer I had a look at your project. I can tell you that the reason it's crashing is because you do not have your storyboard view connected to your view controller class. That said, it looks like you're not even using it. So, unfortunately, it has nothing to do with the SDK itself but your app itself. I would suggest going through http://hackingwithswift.com/100 to get a better understanding of

[2019-06-25 04:30] #132 closed

[2019-06-25 05:05] CoDancer commented on #132
@unipheas but I run my project if I shield the "Drone.init(address: "", port: 8090)",my project is normal.
like this.
<img width="589" alt="WeChatdb599e8f59a3430f5436a9d1a204f37d" src="https://user-images.githubusercontent.com/10137815/60070622-ee6c6a00-9749-11e9-853d-6dccbcfcf082.png">

[2019-06-25 05:43] unipheas commented on #132
@CoDancer I'm playing around with your project. In the meantime can you please follow these [instructions](https://gist.github.com/unipheas/a5f94751c665995c56fba3c3af61a7a0#swift-available-for-macos).

[2019-06-25 05:55] CoDancer commented on #132
@unipheas Do you mean this? Installation the QGroundControl on Mac.
<img width="932" alt="WeChat35211b8be4d965c148a184bada620335" src="https://user-images.githubusercontent.com/10137815/60072507-460dd400-9750-11e9-8326-96a7264bae70.png">
If so：
I had installed it.
<img width="994" alt="WeChat59331b87cb5446436dfe9ebc34993f55" src="https://user-images.githubusercontent.com/10137815/60072705-e663f880

[2019-06-25 05:56] unipheas commented on #132
@CoDancer No. The Swift instructions at the bottom of that page, where the link directs too.

[2019-06-25 05:57] unipheas commented on #132
@CoDancer By the way. Are you in China and do you have WeChat? I can speak with you directly on this if you'd like.

[2019-06-25 06:04] CoDancer commented on #132
@unipheas  Ok, please add my Wechat,1848225396

[2019-06-25 17:45] douglaswsilva commented on #132
I managed to get your project running. The reason for the crash I found was that you imported the libraries manually but didn't link them properly. To fix it, you can either add them to the **Embedded Binaries** or add a script to copy them during the build process in the **Build Phases**.

[2019-06-25 17:49] douglaswsilva commented on #132
That being said, I don't think you need **Drone** folder in your project, since everything is already included in the Dronecode_SDK_Swift.framework.
Also, I know you did it for testing purposes, but I wouldn't call the actions inside app delegate, try to move that logic somewhere else.

Good luck!

[2019-06-26 03:28] unipheas commented on #133
@douglaswsilva Just wanted to confirm, but when you pulled the latest version of the example app you are manually updating it to 0.5.0 from 0.4.1, right? I'm changing the Cartfile to `github "Dronecode/DronecodeSDK-Swift" == 0.5.0` now and will test everything.

That said, I tried the current version of the example app (with 0.4.1) and it wasn't establishing a connection with my ESP8266 WiFi Modul

[2019-06-26 06:52] JonasVautherin commented on #133
@unipheas: Are you getting a crash, or is it just not connecting? Does the backend output anything at all (at least the version number and a few log lines)?

[2019-06-26 06:53] JonasVautherin commented on #133
@douglaswsilva: I'm trying to reproduce, and also testing with latest mavsdk_server 0.18.0.

[2019-06-26 11:45] unipheas commented on #133
It's not crashing, just not connecting. Here is the log
[code]

[2019-06-26 13:03] JonasVautherin opened #134 "Not connecting to ESP8266 WiFi Module"
I tried the current version of the example app (with 0.4.1) and it wasn't establishing a connection with my ESP8266 WiFi Module, but QGC was able to. Not able to get it to connect with 0.5.0 either.

It's not crashing, just not connecting. Here is the log
[code]

_Originally posted by @unipheas in https://github.com/mavlink/MAVSDK-Swift/issues/133#issuecomment-505839948_

[2019-06-26 13:04] JonasVautherin commented on #133
@unipheas: I believe this is a different issue. Let's continue it on #134.

[2019-06-26 13:06] JonasVautherin commented on #134
Can you describe the setup a bit more precisely? Like who is where (on the network), and broadcasting what?

In some cases it may be that QGC is a bit more tolerant on the network setup, where MAVSDK only listens to udp on 14540 (I assume you used udp://:14540 here, right?).

[2019-06-26 13:15] JonasVautherin commented on #133
@unipheas: I believe they don't, they are still on Swift 4. But I'm now wondering if that could be related somehow (e.g. grpc-swift 0.8.1 has issues with the newer version of grpc we use on the server side. Remember we had issues with grpc-swift 0.8.2 already?).

[2019-06-27 03:33] unipheas commented on #133
@JonasVautherin I do remember.

[2019-06-27 05:28] unipheas commented on #134
So, no settings where changed in the app, It's right out of the box. I cloned the repo then did the Carthage install and side loaded the app to my phone.

That said, I noticed that it shows it's listening on port `50051`
[code]

I am using the ESP-12F (ESP8266) WiFi Module. It does have the `MavLink ESP8266 Firmware V 1.2.2` installed. I did have to change the UART_BAUDRATE to 57600 because the Si

[2019-06-27 07:16] JonasVautherin commented on #134
That's fine, that's the `mavsdk_server` listening port (i.e. for gRPC) :+1:. That's not on the MAVLink side.

I'm not sure to be honest. That may be something to explore indeed.

So on the MAVLink side, `mavsdk_server` listens on 14540. QGC would by default listen on 14550. Could you try to [listening on 14550](https://github.com/mavlink/MAVSDK-Swift/blob/master/Sources/Dronecode-SDK-Swift/Drone.s

[2019-06-27 08:15] unipheas commented on #134
Set to port `14550` with `drone.setMavlinkPort(mavlinkPort: 14550)`
Can confirm it is now listening on `14550` with output
[code]
Still not establishing connection.

[2019-06-27 08:44] JonasVautherin commented on #134
And are we sure QGC is receiving on UDP, and on port 14550?

[2019-06-27 08:55] unipheas commented on #134
![IMG_5578](https://user-images.githubusercontent.com/16819233/60252060-2f0be500-98fc-11e9-8666-09cbbac14f32.jpg)
![IMG_5580](https://user-images.githubusercontent.com/16819233/60252061-2fa47b80-98fc-11e9-9674-46431fc72925.jpg)

I tried `14555` as it's listed in Wifi Module as the `CPort` and that didn't work either. It does look like though that QGC is using `14550`

[2019-07-01 11:57] julianoes commented on #134
Does it work if you update the ESP8266 to the latest version?

[2019-07-02 05:51] unipheas commented on #134
@julianoes Yes. It already has the latest V 1.2.2. I followed [these](https://docs.px4.io/master/en/telemetry/esp8266_wifi_module.html) instructions using the pre built binary.

[2019-07-03 09:38] JonasVautherin commented on #134
Thanks to @MatejFranceskin, we realized that QGC [has specific code](src/AutoPilotPlugins/Common/ESP8266ComponentController.cc) for ESP8266. It is running as a "WiFi Bridge", I don't think MAVSDK supports that.

Does that make sense to you, @julianoes? It would mean that we should bring that into MAVSDK somehow.

[2019-07-03 11:01] unipheas commented on #133
@douglaswsilva can you run the example app through Xcode while your phone is plugged in and tell us what the response is in the console? If it's crashing it should be producing some sort of error.

[2019-07-03 11:57] julianoes commented on #134
Oh, maybe we just need to connect using TCP instead of UDP.

[2019-07-03 16:16] douglaswsilva commented on #133
@unipheas Here it is:
[code]

[2019-07-03 16:18] douglaswsilva commented on #133
![Screen Shot 2019-07-03 at 9 17 41 AM](https://user-images.githubusercontent.com/15242786/60608100-7e766900-9d73-11e9-9824-0145de69f725.png)

[2019-07-03 16:23] douglaswsilva commented on #133
Let me know if you need me to try something else. :)

[2019-07-03 16:37] JonasVautherin commented on #133
Note: they are building from the [`move-to-mavsdk-server`](https://github.com/mavlink/MAVSDK-Swift/tree/move-to-mavsdk-server) branch, which is my work in progress following the renaming to MAVSDK :innocent:.

[2019-07-04 00:40] hamishwillee commented on #134
No, UDP should work. There is a page on using this in the PX4 user guide: https://docs.px4.io/master/en/telemetry/esp8266_wifi_module.html

Last time we had problems with this it proved to be a Windows firewall issue. It is also important to note that the firmware on the module must match the baud rate you are using to connect.

[2019-07-04 01:02] unipheas commented on #134
@hamishwillee I did have to modify the baud rate from 921600 to 57600 because I'm using a Sik telemetry radio. Is there anyway to set the baud rate in the SDK? I couldn't find anything in the documentation.

[2019-07-04 01:08] hamishwillee commented on #134
@unipheas I have no idea, but probably not. I was providing the info mostly so that @julianoes doesn't go off exploring TCP, and talks to Gus who wrote that ESP8266 module code. I'm sure Julian will be able to evaluate what now needs to happen with the SDK.

[2019-07-04 05:22] julianoes commented on #134
Now I'm confused. Which one are you using now?

A serial connection would be defined by the string: `serial:///dev/ttyUSB0:57600` for example.

[2019-07-04 05:47] unipheas commented on #134
I show an image of the setup above.

If I define that as the address will it still work on the iPhone/iPad? I'm connecting the iPhone/iPad to the Wifi of the ESP8266 (PixRacer).

[2019-07-04 06:15] julianoes commented on #134
Ok, got it. Can you connect to the wifi module using something other than the phone first and check with Wireshark if mavlink messages are arriving?

[2019-07-04 20:14] JonasVautherin commented on #133
I could reproduce on Pixhawk 4 and on an old H520, and not on SITL, as @douglaswsilva  observed. I reproduced running the Swift example app, both on the iOS simulator and on an iPad.

I could not reproduce in a ([somewhat simpler](https://gist.github.com/JonasVautherin/66eacd179f7fff45bb09da2b64df2d3e)) example in Python (running a mission while printing all the position, ground_speed_ned and gps_

[2019-07-04 20:30] JonasVautherin commented on #133
You know what? I just ran another test:

* MAVSDK-Swift-Example running on my iPad
* `mavsdk_server` 0.18.1 running on my computer ([manylinux-x64 from here](https://github.com/mavlink/MAVSDK/releases/download/v0.18.1/mavsdk_server_manylinux1-x64))

And I cannot reproduce there... so maybe something with the compilation of the iOS binary of `mavsdk_server`? Sounds annoying, because I changed quite

[2019-07-04 22:03] JonasVautherin commented on #133
Well, I'm actually not sure if it is the same issue. It sounds like this assertion [shows some kind of race condition](https://github.com/grpc/grpc/blob/master/include/grpcpp/impl/codegen/call_op_set.h#L943). It crashes super quickly when running `mavsdk_server` on iOS, but not on linux or macOS.

Not sure why, because you don't have this crash on the production version, do you @douglaswsilva?

[2019-07-05 09:11] JonasVautherin commented on #133
Ok I think that's a race in `mavsdk_server`. What I can't understand is why it appears now, because it has been like this for months.

Working on a fix!

[2019-07-08 06:54] #133 closed

[2019-07-11 01:19] douglaswsilva opened #136 "Camera setSetting not working"
When trying to set any settings for camera I get this error:

[code]

[2019-07-11 01:28] douglaswsilva opened #137 "CameraPhotoIntervalS not working in MissionItem"
Drone will take picture every second despite of the value we set. For instance:

[code]

[2019-07-11 01:39] douglaswsilva opened #138 "Command ack causing connection issues with vehicle"
After a lot of digging around I found out one thing that has been causing a lot of connection issues between drone and sdk.

Reproducible steps:

1. Use all the latest backend and swift SDK in DronecodeSDK_Swift_Example and connect to vehicle via WIFI while connected to debugger via XCode. Tested with our drone and camera.
1. Subscribe to `cameraStatus`:

[code]

1. Try to set some camera setting:

[2019-07-11 02:52] unipheas commented on #134
Sorry it took so long to get back to you on this @julianoes. So, the Sik Telemetry Radio is sending a broadcast to 192.168.4.255 of src-port: 14555 to dest-port: 14550. I am getting zero readouts from 192.168.4.2 (iPhone with Swift Example app). So, that leads me to believe it is not picking up anything and sending any handshakes or whatever back.

However, as soon as I boot up QGC then the networ

[2019-07-11 03:06] unipheas commented on #138
@douglaswsilva is this a continuation of #136 and #137?

[2019-07-11 05:30] JonasVautherin commented on #136
Thanks for reporting! Is that new (I think it used to work)? And if yes, does it still work on the older version?

Just trying to see if that's coming from MAVSDK or maybe an update in the E90...

[2019-07-11 06:22] douglaswsilva commented on #136
@JonasVautherin Yes, I had reported this issue a while ago and it seemed to have gotten fixed by a camera firmware update. But with another update, it got broken again. I was wondering if there's anything we can do on the SDK side so this functionality won't rely on camera firmware being changed. What do you think?

[2019-07-11 06:24] douglaswsilva commented on #138
It is triggered by #136 but in this case, it is `cameraStatus` subscription that actually causes the issue of locking communication with the drone.

[2019-07-11 12:34] julianoes commented on #134
I wonder if it works with QGC because it emits heartbeats. You could disable the QGC heartbeats in the settings -> MAVLink -> Ground Station -> Emit heartbeat. Then you restart QGC and check if it still works.

[2019-07-11 12:35] julianoes commented on #134
And another thing that comes to mind is this: https://github.com/YUNEEC/Yuneec-SDK-iOS/pull/1/files

[2019-07-11 14:51] JonasVautherin commented on #134
I could imagine that the iPhone ignores the broadcast messages coming from the Sik Telemetry Radio, whereas the Telemetry Radio gets the ones from the iPhone. Which would explain why QGC can connect, as it broadcasts the heartbeats.

Restart everything, including the drone side. If the connection is opened from one side, it may still work without the broadcast messages, I believe. So restarting th

[2019-07-11 15:21] douglaswsilva commented on #138
@julianoes Yuneec people asked if you could take a look at this and let them know if there's anything they can do on their side.

[2019-07-11 15:35] julianoes commented on #138
I have fixed that in the past, it's probably some deadlock. Can you reproduce it with the Swift Example? Or the Python or C++ code? If yes, I'll be quicker in debugging it.

[2019-07-11 16:14] douglaswsilva commented on #138
Yes, I can reproduce in the Swift Example app (https://github.com/mavlink/MAVSDK-Swift-Example) using the latest master of the Swift SDK. You just need to add the two pieces of code I posted above. First connect to drone via wifi, then subscribe to camera Status, and last try to set some camera setting and you should see the issue.

If you can't reproduce it and think it is a firmware issue, if yo

[2019-07-11 16:20] douglaswsilva commented on #138
@julianoes Do you want me to try to reproduce it in python. I don't have the python build system installed, but can give it a shot. It will just take a while to get everything set up.

[2019-07-12 00:36] hamishwillee commented on #134
No, talk to Gus. As above though the most popular reasons for failure I've seen with QGC are mismatch of baud rate (ie does SDK use same rate as QGC and ESP...) and Windows firewall (though i assume you are working on Linux).

[2019-07-12 00:38] unipheas commented on #138
@douglaswsilva I wrote some instructions that might help you speed the process along.
https://gist.github.com/unipheas/a5f94751c665995c56fba3c3af61a7a0

[2019-07-12 00:39] unipheas commented on #134
@hamishwillee Yea, I agree with you. I think it's the baud rate.

I'm going to test the heartbeat for QGC and get back to everyone here in a bit.

[2019-07-12 00:47] unipheas commented on #134
I just tested the heartbeat. After disabling it QGC was still able to connect.

[2019-07-12 14:52] JonasVautherin commented on #136
The [MAVLink testing suite](https://github.com/Auterion/mavlink-testing-suite/blob/master/src/tests/camera_settings.h) actually does test that at the C++ level. If that is an issue in the firmware, it should be flagged by this test.

Ideally, Yuneec could run that against the E90 before releasing new firmwares, I guess... @julianoes is that correct?

@douglaswsilva: could you try to run those test

[2019-07-12 15:44] julianoes commented on #136
Hm I'm sorry. I need to go back and check when I changed the camera plugin last. Presumably that's when I messed it up.

[2019-07-12 15:45] julianoes commented on #136
The other thing is that we cache the xml files for the E90, E50, ET and if the camera changes we need to get the updates for MAVSDK as well.

[2019-07-12 15:46] julianoes commented on #138
@douglaswsilva if it's reproducible in the Swift example that's fine. I'll try that next week.

[2019-07-12 15:48] julianoes commented on #137
Funny, that's a feature, right? :smile:

Do you think that's a regression with MAVSDK?

[2019-07-13 00:43] douglaswsilva commented on #138
Thank you @unipheas, that's actually a really nice tutorial!

[2019-07-13 08:31] julianoes commented on #138
I pushed some fixes that we can try: https://github.com/mavlink/MAVSDK/pull/796
I haven't been able to test them yet or reproduce the issue though.

[2019-07-15 15:37] douglaswsilva commented on #137
🙃
I don't remember when it stoped working though, @byuarus might remember.

[2019-07-15 22:26] byuarus commented on #137
@julianoes I'm not sure when it broke. It was working with the first Dronecode SDK release that had this feature and Yuneec FW at that time.
@julianoes Do you think it could be an incompatibility with the autopilot/camera firmware version or this issue is on the MAVSDK side only?

[2019-07-15 22:32] byuarus commented on #136
@julianoes Do we need to update the MAVSDK version every time Yuneec release a new version of camera firmware with new xml file?

[2019-07-16 12:40] JonasVautherin commented on #138
FYI: I'll merge the PR as soon as the CI passes, and I'll make a new release of MAVSDK for you guys to test.

[2019-07-16 18:56] douglaswsilva commented on #138
Hi guys,
I just tested the new `mavsdk_server` that @byuarus built from https://github.com/mavlink/MAVSDK/pull/796 and unfortunately we are still getting the same issue. I tested using the `DronecodeSDK_Swift_Example` app connected to the E90 via wifi (same thing as I posted above). I subscribe to `cameraStatus` and then try to `setSetting` after, this is the output (I was printing the callback fr

[2019-07-16 19:11] douglaswsilva commented on #138
These are the firmware versions we are using. If you need them to be able to reproduce the issue, I think @byuarus can help providing them (or I can do it, I just need his approval 🙃):
![Screen Shot 2019-07-16 at 12 07 56 PM](https://user-images.githubusercontent.com/15242786/61322419-7b8f6580-a7c2-11e9-81f9-1d66ec0d3eeb.png)

[2019-07-17 09:13] JonasVautherin commented on #136
I guess that ideally, MAVSDK would download that file from the camera. We could possibly do that once the [MAVLink FTP plugin from Matej](https://github.com/mavlink/MAVSDK/pull/774) is in. But then Yuneec should expose that file over MAVLink FTP as well.

@julianoes is that correct?

[2019-07-17 10:03] JonasVautherin commented on #137
Thinking about it, one thing you can try is this:

1. Upload the mission to the drone
2. Download the mission from QGC
3. Check in QGC if the time interval is set correctly. If yes, I would assume that MAVSDK did its job correctly. If not, MAVSDK possibly messed up somewhere... :smile:

[2019-07-17 12:10] JonasVautherin commented on #134
Reading your discuss post [here](https://discuss.px4.io/t/developing-for-the-holybro-pixhawk4-mini-qav250-kit/11978), can we say that setting the baudrate with `drone.setMavlinkPort(mavlinkPort: "serial:///dev/ttyusb0:57600")` solved it?

In which case we could close this issue, right?

[2019-07-17 12:18] unipheas commented on #134
I haven't yet been able to test this. I'm still waiting for parts in the mail. As soon as I can confirm this works then I will update here. It should be a few more days then I'll have the parts.

[2019-07-17 20:18] byuarus commented on #137
@JonasVautherin
I did the test and it looks that the issue is on the MAVSDK side.

My test:
1) I set `cameraPhotoIntervalS` to 4 sec for every `MissionItem` from our app
2) Uploaded mission to the drone from our app
3) Downloaded the mission from QGC and `Start image capture` shows interval 1 sec
4) Did a flight and camera tried to take photos with 1-sec interval
5) Corrected the mission in QGC, c

[2019-07-17 21:28] JonasVautherin commented on #137
Are we sure of that? I believe this field was always ignored actually (see fix [here](https://github.com/mavlink/MAVSDK/pull/801)). Could it be that you were starting the timelapse differently before (e.g. with the camera plugin)?

[2019-07-17 21:36] byuarus commented on #137
Yes, it could be the case.

[2019-07-17 23:19] byuarus commented on #137
@JonasVautherin I've tested your [fix](https://github.com/mavlink/MAVSDK/pull/801) and it worked 👍
Thank you!

[2019-07-18 09:23] #137 closed

[2019-07-18 10:30] julianoes commented on #136
Yes because the file is cached in the SDK. If Yuneec implements the MAVLink FTP server in the camera we could download it via MAVLink FTP as @JonasVautherin said.

Alternatively, if the bridge between the ST10C and iOS supported some sort of IP networking, we could access the http server of the camera in MAVSDK. Right now we can't because the bridge only forwards MAVLink (and RC I think).

[2019-07-19 09:28] julianoes commented on #138
I tried to reproduce this with the [Example with some hacks](https://github.com/mavlink/MAVSDK-Swift-Example/pull/15) but it worked fine.

This was using the iOS simulator and connected directly to the camera Wifi.

Does it happen for you over Wifi directly or just through the ST10C?
And if so could you change my branch so that all I have to do is to press a button to reproduce it?
Thanks.

[2019-07-19 10:02] darioxz commented on #138
@julianoes Thanks for the example. I will try to build and test it with our internal camera version.

One of our engineers reported a bug in the MAVSDK, but I have to verify this first. I'll keep you posted.

[2019-07-19 12:27] julianoes commented on #138
@darioxz if you have a link to a pre-release camera update to test against, just let me know.

[2019-07-19 16:00] darioxz commented on #138
I reproduced the issue with the test app you provided. Thanks!
I haven't been able to verify the bug reported by one of our engineers, though.

I will escalate the issue to the camera team. They should be able to give me a clear answer why we have this lockout in our internal camera version and not in the public one.

[2019-07-20 04:51] unipheas commented on #134
I've just tested and it didn't work. Here is the error message
[code]

[2019-07-20 05:04] JonasVautherin commented on #134
And does it actually exist? E.g. `ls /dev/ttyUSB0`?

[2019-07-20 05:07] unipheas commented on #134
Well, I don't think so because it's on the iPhone and there is no USB on the iPhone. The iPhone is connected to the ESP8266 device through Wifi. This is what I was told to try so I have it a shot.

[2019-07-20 05:12] JonasVautherin commented on #134
So my guess (but I have not clue) is that maybe the code specific to ESP8266 in QGC tells ESP8266 to change the baudrate over the UDP connection. Because your iPhone sees a UDP connection to ESP8266, and ESP8266 has a serial connection to the drone. And the baudrate exists on the latter only, which your iPhone doesn't know.

[2019-07-20 05:18] unipheas commented on #134
Right.

I mentioned this earlier but I don't know how to change the baud rate through code so it'll work.

Now, I understand I could just wire the ESP8266 directly to the PX4 for development purposes, but if I were to do any field testing or build an app to do something specific then it wouldn't work because I do not have the range as with the telemetry radios, or am I wrong? I didn't think this l

[2019-07-20 07:56] bluecamel opened #140 "Cocoapods"
It looks like the podspec is outdated.  I've tried to update it, but can't get XCode to see the module.

Do you have any advice?

Thanks!

[2019-07-20 08:21] bluecamel commented on #140
I was maybe able to get a bit further by adding a `source_files` entry, but now it can't find the `mavsdk_server` module.  How is that supposed to be installed?  I see in Carthage that it's a binary, but not sure how that would work with cocoapods.

Here's the podspec that I'm using:
[code]

[2019-07-20 14:38] JonasVautherin commented on #140
Oh, that's super cool, thanks for looking into that!

For `mavsdk_server`, actually if you look at [the file linked in the Cartfile](https://s3.eu-central-1.amazonaws.com/dronecode-sdk/backend.json), you have links to all the released archives of mavsdk_server (used to be called backend).

Taking e.g. the latest one, "mavsdk_server_0.18.3.zip", you will unzip it to `mavsdk_server.framework`, and t

[2019-07-20 14:52] JonasVautherin commented on #134
If QGC can do it, we should find a way, too.

QGC has [`baudIndex()`](https://github.com/mavlink/qgroundcontrol/blob/master/src/AutoPilotPlugins/Common/ESP8266ComponentController.cc#L248-L265) that returns an index depending on the baudrate of the module, which apparently supports 57600, 115200, 230400, 460800, and 921600.

And it can also [`setBaudIndex`](https://github.com/mavlink/qgroundcontrol

[2019-07-20 16:36] dogmaphobic commented on #134
The ESP8266 module has its own set of parameters. You set the baud rate (among other things) by setting the UART_BAUDRATE parameter to the MAV_COMP_ID_UDP_BRIDGE compID.

[2019-07-20 17:36] bluecamel commented on #140
Oh, I thought source was an alternate source for the whole repo/build for cocoapods.  Got it.  I'll give that a go and report back.  If I get it working, I'll post a MR.

Also, maybe I should create another issue, but I'll also be needing the offboard protocols.  Any pointers on getting those included?

Thanks!

[2019-07-20 21:29] bluecamel commented on #140
Hrmm, well, I got past that issue by just downloading and unzipping that file manually.  But now I'm getting lots of compile errors for optionals on the responses from RPC calls.  Maybe I'm dealing with a swift version incompatibility?

Here's an example of one of the compile errors:
```Value of optional type 'Mavsdk_Rpc_Camera_VideoStreamInfoResponse?' must be unwrapped to refer to member 'videoS

[2019-07-20 22:03] JonasVautherin commented on #140
Can you open a new issue for that? So I don't forget :-).

On which version of Swift are you?

[2019-07-21 01:10] bluecamel commented on #140
Will do!

We recently converted to Swift 5, but I found out that the conversion was not complete.  I've got that going now (confirmed compile and run without `MAVSDK-Swift` installed), and the app compiles, but I have runtime crashes just by importing `MAVSDK-Swift`.  I'm not evening instantiating `Drone`.

Here's the crash:
```mavsdk_server`pb_field_iter_begin:
    0x1144c3530 <+0>:   pushq  %rbp

[2019-07-21 01:17] bluecamel opened #141 "Offboard Control protocol generation"
How would I go about getting the offboard protocol generated?

Thanks!

[2019-07-21 06:05] bluecamel commented on #140
FWIW, this happens even without importing.  Just installing the pods is enough to make it consistently crash like this on app startup.

I've created a `Podfile` in `MAVSDK-Swift-Example` that installs from my same local `MAVSDK-Swift` pod and it doesn't have the issue, so I guess it's something in my app causing it, but I'm at a loss as to what it could be.  I've been reviewing build settings all

[2019-07-21 10:06] JonasVautherin commented on #140
Are you sure that `MAVSDK_Swift.framework` is supposed to go there? I must say I'm not used to Cocoapods, but if I look at the [grpc-swift podspec](https://github.com/grpc/grpc-swift/blob/master/SwiftGRPC.podspec), for instance, they don't have any vendored framework. I was thinking that vendored was for `mavsdk_server`, because we distribute a binary. But MAVSDK-Swift can be compiled from sources

[2019-07-21 19:10] bluecamel commented on #140
Hrmm, the docs on that don't make that very clear (at least to me).  I have tried leaving only `mavsdk_server.framework` in there and I get the same results.  So, it does appear that `MAVSDK_Swift.framework` is not needed there, but removing it doesn't change anything for me.

Does the crash in `pb_field_iter_begin` give a hint maybe?  I was skimming through the server code and it looks like that

[2019-07-21 19:16] bluecamel commented on #140
Actually, looking at the generated pods framework inputs configuration, removing `MAVSDK_Swift.framework` removes `MAVSDK-Swift` from the frameworks copied to the build folder.  So, I think it might be needed, but I have the same crash regardless.

[2019-07-21 20:36] bluecamel commented on #141
I figured out how to generate the offboard wrappers while waiting for Xcode builds for my other issue.  I know tests would be nice, but at least this provides the swift files: https://github.com/mavlink/MAVSDK-Swift/pull/142

[2019-07-21 21:09] JonasVautherin commented on #140
I don't get why it would crash at runtime without you doing anything. Starting `mavsdk_server` requires you to call `startMavlink()`, and even instantiating a `Drone()` should not run anything special (but in your case you don't even do that).

Just to be sure I understood correctly: the podspec works when including from the Swift example, but it crashes in your app. Right?

[2019-07-22 02:27] bluecamel commented on #140
Yep, that's right.  It's bizarre.  I've poured over the linked frameworks and such in the project config after the `pod install` in both projects and they're identical.

[2019-07-22 02:36] bluecamel commented on #140
Thanks for confirming that it's `startMavlink` that would kick that off.  I'm pretty lost as to how this could be happening.

[2019-07-22 03:27] unipheas commented on #140
@bluecamel I've documented the process for setting up a new project using Carthage. Maybe it'll help with the setup of Cocoapods. It's all described [here](https://gist.github.com/unipheas/a5f94751c665995c56fba3c3af61a7a0#swift-available-for-macos).

[2019-07-22 03:29] unipheas commented on #134
I've set the baud rate manually within the module. I've also set the baud rate within QGC, manually. They are communicating with each other.

[2019-07-22 05:36] julianoes commented on #138
It could still be a bug in MAVSDK as well (since it should not lockup either) so if you wanted to provide a pre-release to me directly for debugging that would be good.

[2019-07-22 05:39] julianoes commented on #134
@dogmaphobic what way does QGC connect to the ESP8266 on the iPhone then? Is it UDP on 14550 or something else?

[2019-07-22 05:41] julianoes commented on #140
@bluecamel I guess you'd need a debug build of all the pieces to hunt down the crash that you're seeing?
My best guess is that one of the libs is missing on load though.

[2019-07-22 06:28] dogmaphobic commented on #134
The ESP8266 is the WiFi Access Point. Once you join the iPhone to it, it's part of the network. The module will broadcast MAVLink messages (to x.x.x.255). Once it receives a reply from a node, it changes the "255" to the node's actual IP address and resumes point-to-point communication. Messages are all UDP sent to x.x.x.x:14550.

[2019-07-22 06:41] julianoes commented on #134
@unipheas so all that should be required is:

[code]

[2019-07-22 10:06] JonasVautherin commented on #140
@bluecamel: Could you open a draft PR with your podspec, so that I can try it on my side? Just to see if I can reproduce your issue.

[2019-07-22 17:08] bluecamel commented on #140
Here's a MR with the changes: https://github.com/mavlink/MAVSDK-Swift/pull/143

I'm not so sure about reproduction steps.  I think the key difference is that I'm installing this pod into another pod that's a dependency of my app.  I think that's where things are going sideways on me, but I can't figure out why.

[2019-07-22 17:16] bluecamel commented on #140
Yeah, I guess I should build `mavsdk_server` myself so that I can debug it?  I've tried zombie detection and address analyzer, but can't get anywhere there.  Admittedly, I'm green on those tools, so could be missing something.

[2019-07-22 20:28] #141 closed

[2019-07-22 22:34] bluecamel commented on #140
I've tried going back to just install things with carthage, but I guess Swift 5 is not supported.  Does that sound right?

[2019-07-22 22:43] bluecamel commented on #140
Maybe that's not right.  Carthage isn't happy either way.  Sorry, I'll get back with better info.  I'm pulling my hair out over here just trying to install a package 😭

[2019-07-22 23:14] JonasVautherin commented on #140
Swift 5 should work. I'm on Swift 5. What's in your Cartfile? Something like `github "mavlink/MAVSDK-Swift" == 0.6.0`?

[2019-07-23 00:33] douglaswsilva opened #144 "Cancel mission upload and download now working currently"
I'm testing the latest SDK with latest firmwares and it seems that this got broken.
I call the `.cancelMissionUpload()` command, but it doesn't cancel and there's no callback until the mission finishes uploading. Then I get this:

[code]

[2019-07-23 07:27] julianoes commented on #144
Thanks for the report. I'll check that. Are you testing that against H520 with current firmware?

[2019-07-23 07:32] julianoes commented on #144
I'm actually quite confused about this one because we have an integration test that tests mission cancel in CI :thinking: .

[2019-07-23 16:19] douglaswsilva commented on #144
Hm, interesting. This is the code I'm using just as a test, it's a bit messy, but let me know if you can spot anything weird or fell free to just copy and paste in the Swift example app. I have not tested with HITL, so I'll try that now and let you know.

[code]

[2019-07-23 16:44] douglaswsilva commented on #144
Hm, I wonder if it could be something on the firmware side. I'm going to test it in SITL and see what I get. Thanks for letting me know.

[2019-07-23 19:06] douglaswsilva commented on #144
Yep, changing the scheduler for `cancelMissionUpload.subscribeOn(scheduler)` fixed it.
Closing. Thanks for the reply!

[2019-07-23 19:06] #144 closed

[2019-07-23 19:08] bluecamel commented on #140
Thanks so much for your help!  I've abandoned cocoapods for the moment, but I think I see how I could make it work with some more time.  Hopefully I can get back to it in the next week or so.  For now, I've got a combo of cocoapods and carthage working 👍

[2019-07-24 06:18] unipheas commented on #134
I've tested this and it doesn't seem to work either. This is the response.

[code]

[2019-07-24 07:53] JonasVautherin commented on #134
@julianoes: In my understanding, setting the baudrate may be necessary, and QGC does that. Or am I wrong?

Gus said:

Which I understand as "ESP8266 is a MAVLink component on the system, and we can set its params, one of which is the baud rate". So if there is a need to set the baud rate, we need to send a MAVLink message to ESP8266. Does that make sense?

[2019-07-24 08:50] JonasVautherin commented on #134
Some more information after discussing with @unipheas:

* The setup works with QGC, not with MAVSDK
* MAVSDK is started with `drone.setMavlinkPort(mavlinkPort: "udp://:14550")`, which should be correct
* It seems like the baudrate is not the issue: it can be set through a web interface
* @unipheas did not enter the IP of the ESP8266 module manually, so QGC does discover it
* When using wireshark,

[2019-07-24 15:10] dogmaphobic commented on #134
QGC _does_ wait for a heartbeat. Only once it receives a heartbeat from the autopilot will it create an instance of a vehicle and start a session.

[2019-07-24 15:15] unipheas commented on #134
@julianoes Mentioned disabling the heartbeat in QGC, but it seems it's the other way around. So, basically, we need MAVSDK to listen for a heartbeat then. @JonasVautherin does it already do that?

[2019-07-24 20:10] JonasVautherin commented on #134
Yes, and that's how it discovers all vehicles all the time. So I don't get why QGC receives heartbeats and not MAVSDK :confused:.

[2019-07-25 03:30] unipheas commented on #134
@JonasVautherin Okay. Like I mentioned to you before, I'm going to play around with the MAVSDK on the MacBook and dig into this more.

[2019-07-31 09:25] unipheas commented on #134
UPDATE!! It now works, but I don't know why.

So, as you know when I side load the Example App onto my iPhone it wasn't establishing a connection using the ESP8266 Wifi Module wired to the HB Telemetry radio. However, today I used my computer and the Xcode Simulator to see if it would make the connection, and it did immediately. I was able to arm the drone and everything. So, I then connected my i

[2019-07-31 09:59] julianoes commented on #134
@unipheas it's not this, right?
https://github.com/YUNEEC/Yuneec-SDK-iOS/pull/1/files

[2019-07-31 10:19] unipheas commented on #134
That might actually be the problem, a network request issue within the app. But I'm not sure why it would work now and not before since I haven't given the app permission since. That said, it wouldn't hurt to implement a dialog to ask for permission from the user. I think that's a separate issue though. Generally those dialogs would be used for production apps though, not something like this.

[2019-07-31 12:15] unipheas commented on #134
I think we can close this now. What does everyone think?

[2019-07-31 12:54] julianoes commented on #134
Yep, thanks for following up!

[2019-07-31 12:54] #134 closed

[2019-07-31 22:31] hamishwillee commented on #134
Makes sense to close - but I'd still like to know why this module is giving us so much pain.

[2019-08-01 08:58] unipheas commented on #134
I feel like we'll deal with this in a bug in the future or something, haha

[2019-08-01 22:11] hamishwillee commented on #134
I'm sure we will. Again and Again and again. @JonasVautherin Grab the module while you're in the office - I'm sure you'll need it one day :-)

[2019-08-02 11:44] unipheas commented on #134
I wonder if this has anything to do with the issues we are having

https://mavlink.io/en/guide/mavlink_version.html#semi-transparent-legacy-radios

[2019-08-29 08:22] unipheas opened #148 "XCTest framework is causing single SIGABRT"
When building a new iOS project and importing the XCTest.framework into the project it is causing a `signal SIGABRT` error. It seems to be because there is an image missing. This was the output

[code]

[2019-08-29 08:26] unipheas opened #149 "Backend framework does not contain bitcode"
When building a new iOS project and import MAVSDK-Swift, it is failing to build because of an Enabled Bitcode. Here is the output

[code]

As a temporary fix you will need to go into `Build Settings`, click `All`, then search for `bitcode`, then switch `Enable Bitcode` to `No`.

[2019-08-29 08:31] unipheas opened #150 "Dronecode still exists"
When creating the Carthage file and using `github "mavlink/MAVSDK-Swift" ~> 0.5.0` Dronecode_SDK_Swift.framework still exists. You will then need to `import Dronecode_SDK_Swift` in your code

[2019-08-29 13:34] JonasVautherin commented on #150
Yes, because the renaming got finished when moving to [`0.6.0`](https://github.com/mavlink/MAVSDK-Swift/releases) :sweat_smile:. Is that an issue?

[2019-08-29 13:36] JonasVautherin commented on #149
Using MAVSDK-Swift 0.6.0?

[2019-08-29 13:38] JonasVautherin commented on #148
Oh... are we incorrectly linking XCTest into MAVSDK? I though our dependencies were [those](https://github.com/mavlink/MAVSDK-Swift/blob/master/project.yml#L21-L26) :confused:.

Why is it not an issue with the sample app? Is it because of something we do there?

[2019-08-29 13:51] unipheas commented on #149
Ah no, the README says to use 0.5.0. I'll upgrade and test again. I'll also update the readme. Sorry about that.

[2019-08-29 13:51] unipheas commented on #150
Ah no, the README says to use 0.5.0. I'll upgrade and test again. I'll also update the readme. Sorry about that.

[2019-08-29 13:52] #150 closed

[2019-08-29 13:52] JonasVautherin commented on #149
No worries, good catch on the README!

[2019-08-29 13:55] unipheas commented on #148
I'll test on 0.6.0 to make sure this is still an issue. I'll let you know tomorrow.

[2019-08-29 16:35] unipheas commented on #149
After updating to `0.6.0` I'm not getting the follow bitcode error but for RXTest framework
[code]

[2019-08-29 16:53] unipheas commented on #148
After upgrading to 0.6.0 it's the same error. I'm importing all frameworks in the `Carthage/Build/iOS` folder. If not all of them are needed then I can update the instructions to only be [those](https://github.com/mavlink/MAVSDK-Swift/blob/master/project.yml#L21-L26)

[2019-08-29 18:06] JonasVautherin commented on #149
Sounds like `mavsdk_server` is built with bitcode enabled, and `RxTest` isn't. Which is out of our control :-).

[2019-08-30 04:51] #149 closed

[2019-09-02 09:48] #148 closed

[2019-09-02 09:48] unipheas commented on #148
instructions updated

[2019-09-04 16:45] douglaswsilva commented on #136
Seems to be resolved by drone team once again.

[2019-09-04 16:45] #136 closed

[2019-10-17 19:20] douglaswsilva opened #152 "Can't build Mavsdk-Swift with the new Mavsdk-Proto"
Repro Steps:
1. git clone https://github.com/mavlink/MAVSDK-Swift.git --recursive
2. bash tools/generate_from_protos.bash

Then try to open the project and compile.
Some of the enums will be empty + some other errors that will fail the build in the Mavsdk-swift project.

<img width="1440" alt="Screen Shot 2019-10-17 at 4 22 08 PM" src="https://user-images.githubusercontent.com/15242786/67040931-e8

[2019-10-18 14:09] JonasVautherin commented on #152
Yes, I can reproduce :confused:. Having a look.

[2019-10-18 16:09] JonasVautherin commented on #152
I'll have to continue next week. What I changed fairly recently is that I added the documentation in the proto files. I'm wondering if that could be the root cause :confused:.

@unipheas: FYI, in case you also try to generate code :confused:.

[2019-10-18 16:52] JonasVautherin commented on #152
Nevermind, I think I fixed it. @douglaswsilva would you mind reviewing the PR?

[2019-10-19 06:24] #152 closed

[2019-10-22 11:52] skibinalexander opened #158 "dyld: Library not loaded: @rpath/RxRelay.framework/RxRelay"
Hi, have a problem. I use full steps instruction by install, but have this problem. Help please?

[2019-10-22 11:53] skibinalexander commented on #158
Referenced from: /Users/olga/Library/Developer/CoreSimulator/Devices/65D89264-5F78-4C10-8339-229C38C553E9/data/Containers/Bundle/Application/4B2B896C-C279-469C-A0CC-D3D69C863DB1/GCS.app/Frameworks/RxCocoa.framework/RxCocoa
  Reason: image not found

[2019-10-22 14:34] skibinalexander commented on #158
I solve my problem, in instruction write add RxRelay etc. in app scheme it's wrong because this libraries for test!

[2019-10-22 14:34] #158 closed

[2019-10-23 19:05] douglaswsilva opened #159 "Gimbal .setMode and .setPitchAndYaw work but return "unknown" error"
**Problem:**
With the builds of `MAVSDK-Swift.framework` **0.7.0** + `mavsdk_server.framework` **0.20.0** Setting gimbal mode or pitchAndYaw both work but return an `unknown` error.

**Tested with:**
- XCode 10.2.1
- Swift 5
- IOS 12.2
- The drone and camera you already know

**Repro Steps:**
1. Call `gimbal.setMode` or call`gimbal.setPitchAndYaw`
2. This is the odd part. You will get an `error` t

[2019-10-24 06:13] julianoes commented on #159
That's odd. I looked at the generated files for gimbal but didn't see anything wrong. Can you debug it deeper in the generated files to see what's going on?

And what's the Swift and XCode version? I see some `#if swift(>=4.2)` in `gimbal.pb.swift`.

[2019-10-24 09:46] JonasVautherin commented on #159
Makes total sense, I don't think it ever worked correctly. Here's why:

[`gimbal.h`](https://github.com/mavlink/MAVSDK/blob/develop/src/plugins/gimbal/include/plugins/gimbal/gimbal.h#L42-L45) says:

[code]

[`gimbal.proto`](https://github.com/mavlink/MAVSDK-Proto/blob/master/protos/gimbal/gimbal.proto#L54-L57) says:

[code]

And [the translation](https://github.com/mavlink/MAVSDK/blob/develop/src/

[2019-10-24 16:29] douglaswsilva commented on #159
Thanks!

[2019-10-24 18:51] JonasVautherin commented on #159
You're right, I changed the proto file when I added the documentation there. Apparently I forgot to propagate the change, I'm sorry :confused:.

[2019-11-11 21:52] douglaswsilva opened #160 "Unable to set camera settings (setSettings)"
With the latest **Mavlink SDK v0.21.1** and a local built updated version of the **Mavlink-Swift v0.7.0** I am not able to set camera settings.

**System:**
- Xcode 10.1
- Swift 5
- iPad Mini 4 with IOS 12.2
- Drone and camera you guys know

I don't get any errors in the logs, aside from I stop receiving telemetry and cannot send or get any values from the vehicle. Which makes me think that after

[2019-11-11 21:53] douglaswsilva commented on #159
This PR is meant to solve this: https://github.com/mavlink/MAVSDK/pull/900

[2019-11-12 12:42] julianoes commented on #160
I'm looking into it.

[2019-11-12 13:35] julianoes commented on #160
It looks like I can reproduce this with the C++ integration test:
[code]

[2019-11-12 15:21] julianoes commented on #160
I have a potential fix. I can cut a patch release once CI is happy in the PR.

[2019-11-13 13:11] #159 closed

[2019-11-13 13:13] #160 closed

[2019-11-14 07:22] unipheas commented on #72
Is this still being worked on?

[2019-11-14 07:23] unipheas commented on #140
@bluecamel Would you like to close this issue?

[2019-11-14 14:21] julianoes commented on #72
Yes I think some things are still missing.

[2019-11-14 14:22] julianoes commented on #140
I guess it's carthage for now until we have Swift PM, right?

[2019-11-16 20:29] JonasVautherin commented on #140
Yes, I think so. Let's close, we can still reopen later if we see that Cocoapods is needed.

[2019-11-16 20:29] #140 closed

[2019-12-10 09:57] evilcap opened #163 "V2 Protocol Support"
Hello, are you considering mavlink v2 support?

[2019-12-10 21:46] JonasVautherin commented on #163
MAVSDK is already supporting mavlink v2 (see [here](https://github.com/mavlink/MAVSDK/tree/develop/src/third_party/mavlink/include/mavlink)).

Is there something not working for you?

[2019-12-11 08:46] evilcap commented on #163
Thanks for the information! Swift SDK also supports V2? On the official website of Mavlink support is not stated

[2019-12-11 09:40] #163 closed

[2019-12-17 21:19] douglaswsilva opened #164 "Telemetry Health Calibration returning wrong values"
Hey guys,

As I spoke with Jonas, sometimes we've been getting "wrong" calibration to some of the values when subscribing to `telemetry.health`. I finally was able to reproduce it connected to the debugger and this is what I see int he logs coming from the SDK:

[code]

As you can see, there was a timeout in
[code]
Which made it be false and the other calibration values to be true. To reproduce th

[2019-12-19 10:26] JonasVautherin commented on #164
Oh, so do you always get a timeout on the sensor when it fails? And for the different sensors?

@julianoes: do you have insights on what it means to have a timeout on one of those parameters? MAVSDK will try to get the parameter multiple times before it gives up, right? Could that mean that on the firmware side, something is wrong with this param?

[2019-12-19 10:53] julianoes commented on #164
My thought is that this might be a link congestion issue on startup.

[2019-12-19 10:53] julianoes commented on #164
We could try it with a longer timeout and more retransmissions.

[2019-12-19 19:48] douglaswsilva commented on #164
@JonasVautherin The "wrong" calibration values don't happen every time. I was only able to reproduce this once when connected to the debugger. But I imagine that every time it happens, it's probably caused by this timeout in one of the calibration values.

@julianoes That'd be cool to try. Let me know how I can help.

[2019-12-19 22:16] JonasVautherin commented on #164
@julianoes is there an easy and ugly way to add a super long timeout, just to confirm that this is the root cause? From discussions with @douglaswsilva, it seems like they can reproduce it reasonably often (like 1/5th of the time) in their setup.

[2020-01-06 20:51] douglaswsilva commented on #164
@julianoes If there's a place I can increase the timeout in the mavsdk, let me know. I can do it locally and test it to see if it fixes the issue.

[2020-01-13 14:57] julianoes commented on #164
https://github.com/mavlink/MAVSDK/blob/d9ecfcb681fd2340768e263d7b265e6d3a607aea/src/core/mavlink_parameters.cpp#L197
https://github.com/mavlink/MAVSDK/blob/d9ecfcb681fd2340768e263d7b265e6d3a607aea/src/core/mavlink_parameters.cpp#L248

Oops, retry is not implemented yet:
https://github.com/mavlink/MAVSDK/blob/d9ecfcb681fd2340768e263d7b265e6d3a607aea/src/core/mavlink_parameters.cpp#L461

[2020-01-15 12:11] douglaswsilva commented on #164
@julianoes Thanks, I'll take a look into this.

[2020-01-30 17:07] douglaswsilva commented on #164
@julianoes  @JonasVautherin Our test engineering is currently testing the fix for this. Thanks Julian!
On that note, I noticed another issue that I'm double testing and believe it shouldn't be hard to fix, but I'd need your guys help.

I think if you subscribe to `drone.telemetry.health` before the drone is connected and then connect the drone, it will not update the values.

As I said, I'm going

[2020-01-30 20:45] julianoes commented on #164
Right, we should probably reset the health data here:
https://github.com/mavlink/MAVSDK/blob/c5404eb7ca88b6a404b82154d7ad49b3cc6b7d17/src/plugins/telemetry/telemetry_impl.cpp#L186

[2020-02-12 18:04] JonasVautherin commented on #164
@julianoes I had a quick look at it, and I don't understand your comment. Shouldn't `health` be advertised on each heartbeat, as per [`process_heartbeat` here](https://github.com/mavlink/MAVSDK/blob/c5404eb7ca88b6a404b82154d7ad49b3cc6b7d17/src/plugins/telemetry/telemetry_impl.cpp#L774-L778)?

[2020-02-14 07:57] julianoes commented on #164
Some of the health information is based on parameters that are queried. That is only a "workaround for now" but that's why the data can be stale.

[2020-02-14 11:53] JonasVautherin commented on #164
And `disable()` will be called when the drone is discovered? :thinking:

[2020-04-08 18:17] gregav opened #165 "XCode 11.4 Build Error"
I can not build clean project with Carthage:

*** Downloading RxSwift.framework binary at "ShaiTheBravest"
***  Skipped installing RxSwift.framework binary due to the error:
	"Incompatible Swift version - framework was built with 5.0.1 (swiftlang-1001.0.82.4 clang-1001.0.46.5) and the local version is 5.2 (swiftlang-1103.0.32.1 clang-1103.0.32.29)."

I tried with flag: carthage bootstrap --no-use-

[2020-04-08 18:27] unipheas commented on #165
Hi @gregav. I have not confirmed that it works with the latest Xcode. That said, this is an open-source project so our contributions are voluntary and when we have time to do them. If you'd like to contribute to getting Pods to work with this library then it would be much appreciated by the community.

The error with RxSwift shouldn't matter, I've personally seen that error with previous versions.

[2020-04-08 18:32] gregav commented on #165
Hi Brian,
I would love to make Pods but unfortunately I don’t know how to do it.
And I did follow README several times but no success. It just wont build.

[2020-04-08 18:35] unipheas commented on #165
@gregav Okay. Can you get us the full output of the logs please. I'd follow the instructions step by step and when it does something unexpected you can just stop there. We'd need to see the entire log though to see what's happening.

[2020-04-08 18:43] gregav commented on #165
grega@DeepBook MAVTest % gem install --user xcodeproj
WARNING:  You don't have /Users/grega/.gem/ruby/2.6.0/bin in your PATH,
	  gem executables will not run.
Successfully installed xcodeproj-1.15.0
Parsing documentation for xcodeproj-1.15.0
Done installing documentation for xcodeproj after 0 seconds
1 gem installed
grega@DeepBook MAVTest % cat Cartfile
github "mavlink/MAVSDK-Swift" ~> 0.7.0
grega

[2020-04-08 19:56] gregav commented on #165
I have managed to build the framework by changing the Podfile to:

`platform :ios, '9.0'

target 'MAVSDK_Swift' do
  use_frameworks!

  $gRPCVersion = '>= 0.4.2'
  $rxVersion = '>= 4.0'

  # Pods for MAVSDK_Swift
  pod 'SwiftGRPC', $gRPCVersion
  pod 'RxSwift', $rxVersion

  target 'MAVSDK_SwiftTests' do
    inherit! :search_paths
    # Pods for testing
    pod 'RxBlocking', $rxVersion
    pod 'Rx

[2020-04-08 19:56] #165 closed

[2020-04-08 20:14] unipheas commented on #165
@gregav Thank you. We'll work on updating this library as soon as we can.

[2020-04-09 09:40] JonasVautherin commented on #165
One thing I'd like to mention is that SPM should soon support binary dependencies (which we need). If I understand correctly, it will come with Swift 5.3, which is in the process of being released. At this point we would possibly drop Carthage and support solely SPM.

The main reason for our struggling with Carthage is that grpc-swift does not support it, so we always had to find workaround, and i

[2020-04-21 02:44] floridatechnologies commented on #165
can you specify what you changed?

[2020-05-02 15:12] skibinalexander opened #166 "error Cartfile setup"
*** Building scheme "SwiftGRPC-Package" in SwiftGRPC-Carthage.xcodeproj
Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -project /Users/skibinalexander/Desktop/MAVLinkIOS/Carthage/Checkouts/grpc-swift/SwiftGRPC-Carthage.xcodeproj -scheme SwiftGRPC-Package -configuration Release -derivedDataPath /Users/skibinalexander/Library/Caches/org.carthage.CarthageKit/DerivedData/11.4.

[2020-05-02 15:12] skibinalexander commented on #166
Help please resolve with problem

[2020-05-04 06:41] julianoes commented on #166
Please share the steps you were doing, and the output of the log file which is referenced at the bottom, and please put it all between ``` to have it nicely readable here. Thanks.

[2020-05-04 13:50] #166 closed

[2020-05-04 13:50] skibinalexander commented on #166
Thanks, I solve this problem

[2020-05-04 16:26] JonasVautherin commented on #166
Great! Would you mind sharing your solution? Maybe it could help when somebody else gets the same issue...

[2020-07-03 05:53] cwkerk opened #168 "Installation failure"
Build failure in the installation process with Xcode Version 11.5 (11E608c):

[code]

<img width="1184" alt="Screenshot 2020-07-03 at 1 49 13 PM" src="https://user-images.githubusercontent.com/18564467/86436204-63e32100-bd34-11ea-9ad2-634b62556965.png">

[2020-07-07 07:50] JonasVautherin commented on #168
This says that compiling SwiftGRPC failed, but it does not show the error :confused:. You should have a log that comes with it.

[2020-07-26 12:42] AustinRobinson commented on #168
I am having a similar issue. Was this ever resolved?

[2020-07-27 05:43] julianoes commented on #168
@cwkerk @AustinRobinson please add the actual log. It says "outut can be found in ... .log". Without that it's hard to know what the problem is.

[2020-07-27 13:46] AustinRobinson commented on #168
Here is the output of `carthage bootstrap --platform ios`
[code]

And here are the contents of carthage-xcodebuild.BB7B7S.log
[code]

[2020-07-28 06:51] julianoes commented on #168
Thanks @AustinRobinson. @unipheas have you seen this before?

[2020-07-28 14:27] AustinRobinson opened #170 "Unable to connect to 3DR Solo"
I am unable to connect to my 3DR Solo. This is the code I am running
[code]

And here is the console output that just keeps looping
[code]

[2020-07-28 15:18] unipheas commented on #168
Yea, it looks like the libraries weren't setup within the project. It's in the instructions but basically he'll have to import these manually into the project, I believe.

http://dronecode-sdk-swift.s3.eu-central-1.amazonaws.com/docs/master/index.html

[code]
Starting here.

[2020-07-28 15:20] unipheas commented on #170
We'll need some more information please. If you could provide any error logs, what you're running this on, etc that would be more helpful to allow us to help you debug this.

[2020-07-28 15:23] AustinRobinson commented on #170
I'm running this on an iPhone X running iOS 13.5. Where can I find error logs, I only see what the application outputs on the debug console and included that above.

[2020-07-28 16:37] AustinRobinson commented on #168
Does that still apply if I didn't use Carthage? I manually built the framework and copied it over to my project.

[2020-07-29 06:48] julianoes commented on #170
@AustinRobinson one thing to note is that MAVSDK is not currently supporting ArduPilot, only PX4. And I'm assuming you are running ArduCopter on Solo, right?

Also see https://github.com/mavlink/MAVSDK/issues/728.

[2020-07-29 13:32] AustinRobinson commented on #170
I am running OpenSolo which I believe is the same thing as arducopter at the moment.

[2020-07-30 06:41] julianoes commented on #170
Right, so unfortunately this is expected, until someone takes up ArduPilot support and maintenance for MAVSDK.

[2020-07-30 06:41] #170 closed

[2020-08-02 06:33] unipheas commented on #168
@AustinRobinson Did that help you?

[2020-08-04 14:44] AustinRobinson commented on #168
I tried what you said with the same error but in the readme is says to run `carthage bootstrap --platform ios` before doing that.

[2020-08-11 22:34] nab0y4enko opened #171 "Shell commands"
Could you provide example for use shell commands on Shell module?

For example arm/disarm uav using shell.
https://mavlink.io/en/messages/common.html#MAV_CMD_COMPONENT_ARM_DISARM

In my test any command success sent without feedback and actions from UAV's side.  I've tested next commands: `arm`, `/mavsdk.rpc.action.ActionService/Arm`, `mavlink arm`, `commander arm`, `MAV_CMD_COMPONENT_ARM_DISARM 1

[2020-08-12 12:09] JonasVautherin commented on #171
Are you running against PX4 running on NuttX? Shell doesn't work with SITL...

[2020-08-12 16:58] nab0y4enko commented on #171
@JonasVautherin Thanks for help. Yeah, I known about simulation.
![jMAVSim 2020-08-12 12-45-26](https://user-images.githubusercontent.com/1070269/90043360-fd89e080-dc99-11ea-9606-6bc899f4fca2.jpg)

But we also have been testing on Tarot X6 + Herelink RC.

Our development stopped at this point and no one can provide us description/example of simple command we could use with MAVSDK-Swift.

[2020-08-12 20:46] JonasVautherin commented on #171
We have an example in MAVSDK-C++, it would be nice if you could adapt it to Swift! See [here](https://github.com/mavlink/MAVSDK/blob/develop/examples/mavshell/mavshell.cpp).

[2020-08-27 15:03] unipheas commented on #168
Is it possible to share your project?

[2020-08-31 00:00] nab0y4enko opened #172 "Connect to ArduPilot + MavProxy"
We're trying to use ArduPilot Simulator with MavProxy for test MAVSDK Swift SDK

**Client Side:**
We use MAVSDK from `move-to-1.0` branch and latest Mavsdk Server from https://github.com/mavlink/MAVSDK/releases/tag/v0.29.0

[code]

**Server side:**
Current ArduPilot's Simulator on MacOS https://gist.github.com/drnic/7684ce449ef5cfa965166ddd907dd36a start with next script:
[code]

**Issue:**
ArduPi

[2020-08-31 06:13] JonasVautherin commented on #172
Hello! MAVSDK does not support ArduPilot, see [here](https://github.com/mavlink/MAVSDK/issues/728). We're open to contributions if you want to have a look! :blush:

[2020-08-31 06:13] #172 closed

[2020-10-04 05:38] vinura opened #173 "Use 2 ESP8266 as Serial Bridge over WIFI"
Is it possible to use two ESP8266 as the transmitter from AIR and Receiver on the ground? I am trying to connect Pixhawk with Tengri GCS(http://tengriuav.com/). I currently use 2 RFDs. Is it possible to use Two ESP8266 ?

[2020-10-04 22:41] JonasVautherin commented on #173
I really don't know, I don't have much experience with the ESP8266. Maybe somebody here has an idea, but otherwise I think it is more of a general MAVLink/networking question to ask e.g. on the PX4 discuss forum or Slack :+1:.

[2020-10-04 22:47] unipheas commented on #173
I have some experience with the ESP8266, but it was a bridge from an iOS app to the PX4. I had to write router software onto the ESP8266 so it could route the traffic. I feel like you would have to do a lot of testing to get that to work. Theoretically, I don't see why it can't happen, but I'm not sure if it has been done. Good question though.

[2020-10-05 07:03] vinura commented on #173
I actually did some cording and was able to parse incoming packets to serial. However, I am stuck in a while loop which parses UDP packets back to serial. Since there is a constant flow of data coming in i am not able to send serial data generated from GCS back to the flight controller.

[2020-11-26 00:02] JonasVautherin commented on #168
Closing due to inactivity, and also because we are moving to SwiftPM :tada:.

[2020-11-26 00:02] #168 closed

[2020-11-27 01:11] #72 closed

[2020-11-27 01:12] JonasVautherin commented on #72
We now have github workflows.

[2020-11-27 01:13] JonasVautherin commented on #173
Closing due to inactivity, and also because it is not a MAVSDK problem.

[2020-11-27 01:13] #173 closed

[2021-02-23 04:38] seungbeom-son opened #184 "Cannot find type 'GRPCCallHandler' in scope"
I followed all steps. But when I tried to build my project, this error appeared.

**Cannot find type 'GRPCCallHandler' in scope**

Is there anything I missed?

<img width="419" alt="스크린샷 2021-02-23 오후 1 37 53" src="https://user-images.githubusercontent.com/40154993/108802805-67d1f500-75dc-11eb-86f4-fa48ecf7272c.png">

[2021-02-23 06:45] julianoes commented on #184
@byuarus, @douglaswsilva, or @JonasVautherin?

[2021-02-23 10:34] JonasVautherin commented on #184
Did you try to run the [example app](https://github.com/mavlink/mavsdk-swift-example) first? So that you could see how it is setup :+1:

[2021-02-23 10:59] seungbeom-son commented on #184
Yes, I have already tried the example app. But the result was same.

[2021-02-23 17:30] byuarus commented on #184
After updating MAVSDK-Swift in example app I see the same issue.
![Screen Shot 2021-02-23 at 9 29 50 AM](https://user-images.githubusercontent.com/10615444/108882877-b02beb80-75b9-11eb-99cf-ab286accbf75.png)

[2021-02-23 17:55] JonasVautherin commented on #184
Hmm I don't understand, I just did it (updated [this line](https://github.com/mavlink/MAVSDK-Swift-Example/blob/master/project.yml#L11) to 0.10.0) and it works for me :confused:.

Did you guys run a clean build?

[2021-02-23 18:37] JonasVautherin commented on #184
Ok I managed to reproduce it, let me have a look

[2021-02-23 20:36] JonasVautherin commented on #184
@seungbeom-son: could you try with version 0.10.1?

[2021-02-24 03:20] seungbeom-son commented on #184
0.10.1 works well for me. Building the example app successfully completed. Thank you!!

However, another problem has occured 😭

Whenever I tried to install the example app after build, Xcode shows 'Unable to install "MAVSDK_Swift_Example"' (No code signature found.). But I think this issue is not related to your SDK. I will try to fix this by myself.

Thank you. 😄

[2021-02-24 11:24] JonasVautherin commented on #184
Doesn't it mean that you need to set the Team in the project settings?

[2021-02-24 14:21] seungbeom-son commented on #184
Yes. I set the team in the project settings correctly.

I solved this problem in this way [https://pspdfkit.com/guides/ios/current/knowledge-base/library-not-found-swiftpm/](url)

[2021-02-26 16:03] #184 closed

[2021-03-04 17:01] viona31 opened #188 "Can't make MAVSDK work with our PX4 based drone"
We have a drone which is based on PX4 and esp.

We already have an Android app which successfully connects to the drone and allows to control the flight:
1) Android attaches to drone's WiFi point
2) In its WiFi network drone's ip is 192.168.4.1
2) Android app connects to drone using 192.168.4.1:8001 udp connection and allows to control the drone.

Also we tried QGroundControl app, in which we crea

[2021-03-04 17:35] JonasVautherin commented on #188
The actions are failing because there is "No System", i.e. the drone has not been discovered. You should check for that first. From the log output, we see that a drone has not been detected. When it happens, it looks more like this:

[code]

I think that's where the confusion is. You configured QGC to send MAVLink messages to `192.168.4.1`, but MAVSDK actually waits for messages coming from the dr

[2021-03-04 17:53] viona31 commented on #188
Here is what our drone's hardware developer says:

`Port 8001 is for udp messages exchange. The drone parses their contents and if it detects Mavlink, then it reacts.
Mavlink stands for Ground Control Station (GCS) и Vehicle.

More often communications is initiated by GCS and а Vehicle produces answer. In this term the drone is more like "server" in terms of client-server architecture (the vehicle

[2021-03-05 08:54] JonasVautherin commented on #188
I agree with you that it would be nice for MAVSDK to initiate the connection, but right now it cannot do it from MAVSDK-Swift. MAVSDK-C++ can, though, and I would like to make it work for MAVSDK-Swift/MAVSDK-Java in the future (probably after [this PR](https://github.com/mavlink/MAVSDK/pull/1331) is finished).

But in the meantime, you'll have to make your drone initiate the connection (that's act

[2021-03-11 07:58] viona31 opened #189 "MAVSDK extracts battery info from SYS_STATUS and not BATTERY_STATUS"
Can we use MAVSDK-Swift SDK message parser separately using its source code?

We have a problem as follows.

We don't get battery information, what we get in SDK listener is:
`Battery(voltageV: 0.0, remainingPercent: -0.01)`

Drone's hardware developer tells that the drone sends a mavlink battery message like this:
`BatteryStatus{id=0, batteryFunction=EnumValue{value=1, entry=MAV_BATTERY_FUNCTION_

[2021-03-11 11:53] rligocki opened #190 "Adding support for Catalyst (Running iOS framework on macOS)"
Hey guys,

I few weeks ago I started development of custom design ground control station software based on MAVSDK. Our main target is iOS devices. Also I started to think about using Catalyst technology to run this app also on macOS. Problems is that when I enabled this feature in xcode, I get error:
`
Showing Recent Messages
While building for Mac Catalyst, no library for this platform was found

[2021-03-11 18:19] JonasVautherin commented on #190
Using https://github.com/leetal/ios-cmake/pull/97/files, there may be a way. This could be done at the same time as adding the binary for the M1 platform.

[2021-03-11 18:49] JonasVautherin commented on #190
@rligocki: do you know how to add catalyst to an xcframework? Is that a a specific `.framework` just for catalyst, or is it a normal `.framework` that does embed catalyst inside?

@kylewludwig: would you have an idea? I'm looking at https://github.com/mavlink/MAVSDK/pull/1355/files#diff-35869851019316cea57b9e7d8c9cf1fb3cc521708fae85bbe2ed5cac42e2c68dR70-R73 but I'm not sure exactly what it means (

[2021-03-11 19:03] JonasVautherin commented on #190
Oh actually, MAC is a macOS build, and MAC_CATALYST is an iOS build. So I guess that becomes yet another iOS `.framework`. And MAC_ARM64_CATALYST is another iOS `.framework`, this time for ARM64.

So this may be fairly easy to add :+1:.

[2021-03-11 23:46] JonasVautherin commented on #189
That's done in C++, so you have to look [here](https://github.com/mavlink/MAVSDK/blob/develop/src/plugins/telemetry/telemetry_impl.cpp#L1031-L1049). If you want to debug it at the mavlink level, you'll have to do it from C++ :wink:.

We support the `MANUAL_CONTROL` messages in the ManualControl plugin. Why is it better to use `RC_CHANNELS_OVERRIDE` in that case? Can you not use the manual control

[2021-03-12 00:28] rligocki commented on #190
Perfect !!! Thanks for fast response.

In case of building frameworks I have only experience with Carthage. I didn't have to much time during today to do more research, but as you described and said, whole thing might be easy to change. So do you think that it is only necessary to add  new action to build MAC_CATALYST and MAC_ARM64_CATALYST .frameworks and pack them into already existed .xcframewo

[2021-03-12 01:28] JonasVautherin commented on #190
Yes, I'll try that once my other PR is merged :+1:. Would be nice if you could test it then, I'll tag you there :blush:

[2021-03-12 10:22] rligocki commented on #190
Yeap, as soon as it will be available, then I can add new version of MAVSDK to my app. Is it possible to build it with catalyst support by my own?

[2021-03-12 11:09] viona31 commented on #189
Debugging C++ is definitely not what we want to do 😔

What we found out is that the drone is correctly sending battery info message (message 147 BATTERY_STATUS) with the next payload:
0 = -1
1 = -1
2 = -1
3 = -1
4 = -1
5 = -1
6 = -1
7 = -1
8 = -1
9 = 127
10 = -99
11 = 1
12 = -1
13 = -1
14 = -1
15 = -1
16 = -1
17 = -1
18 = -1
19 = -1
20 = -1
21 = -1
22 = -1
23 = -1
24 = -1
25 = -1
26 = -1
27 = -1
2

[2021-03-12 11:31] JonasVautherin commented on #189
Yes that's MAVLink 2, tested against PX4. Are you using a PX4 drone?

I think at least if you look at the code, it will tell you what it does. And that would not be much different if you were manipulating mavlink messages in Swift directly:

[code]

So it takes the SYS_STATUS message, and extracts the battery level as `sys_status.battery_remaining * 1e-2f;`

Does that make sense?

[2021-03-12 13:43] viona31 commented on #189
I got to know that the drone is PX4-based but not canonical PX4. Sorry for delusion if so.

I didn't understand that this is ANOTHER mavlink message that uses the same field. Thank you for pointing that. Now I'm going to ask firmware developer to make changes to the firmware.

Just for the sake of interest - how it is supposed to deal with the fact that BATTERY_STATUS message is described in proto

[2021-03-12 14:09] JonasVautherin commented on #190
I gave it a quick shot [here](https://github.com/mavlink/MAVSDK/pull/1356), where I got [the following error](https://github.com/mavlink/MAVSDK/pull/1356/checks?check_run_id=2095530981):

[code]

@rligocki are you willing to debug this? You can use my PR as a starting point: https://github.com/mavlink/MAVSDK/pull/1356. I won't spend more time on this as I don't know what's happening and I don't ne

[2021-03-12 14:18] JonasVautherin commented on #189
I guess I cannot ask which drone that is? :blush:

That's a very good point: both [`SYS_STATUS`](http://mavlink.io/en/messages/common.html#SYS_STATUS) and [`BATTERY_STATUS`](http://mavlink.io/en/messages/common.html#BATTERY_STATUS) provide that information. Maybe we should also parse `BATTERY_STATUS`, and somehow choose the correct one for those updates.

@julianoes: do you have an opinion on that

[2021-03-12 14:59] JonasVautherin commented on #189
So I think that `telemetry.battery()` should expose a list of batteries (instead of only one) in case there are more than one battery. In the usual case with one battery, that would be a list of length one. Also, MAVSDK should use `BATTERY_STATUS` if it is advertised, but fallback to `SYS_STATUS` if it is not. That's for the MAVSDK part.

@viona31: Now on the drone side, I think that it would make

[2021-03-12 16:02] rligocki commented on #190
I will try. As you said, I am the one that want this feature so let me try debug it.

[2021-03-18 16:26] viona31 commented on #189
I'm sorry for being wrong. The drone is not based on PX4 autopilot though it tries to implement mavlink. This is a russian drone for educational purposes, I can tell more details in private.

Yes, thank you for helping to find the solution. Though after finding it we faced another trouble with SDK (crash in unknown code place) - we'll open another issue for describing it.

[2021-03-18 16:43] Harvester-76 opened #191 "Mavlink crashes after trying to call «Arm» command"
When I call drone.arm() it completes with an error. After command completion in my «onError» callback I have the next error

<img width="732" alt="Снимок экрана 2021-03-18 в 17 55 26" src="https://user-images.githubusercontent.com/80912769/111663529-f45d8500-8821-11eb-8139-8c8a8e82bee7.png">

«The operation couldn’t be completed. (MAVSDK_Swift.Action.ActionError error 1.)»

After that my applicati

[2021-03-18 19:19] JonasVautherin commented on #189
Ok, I guess this one is solved then! Feel free to reopen if it is not!

[2021-03-18 19:19] #189 closed

[2021-03-18 19:21] JonasVautherin commented on #191
@douglaswsilva @byuarus: Would you happen to have an opinion on that? Does it look like a crash indeed, or is it because the error is not handled properly? Just to be sure :blush:.

[2021-03-19 11:26] viona31 commented on #189
We have solved the problem for us by using SYS_STATUS message instead of BATTERY_STATUS but I still think that the issue still exist for the SDK itself. I don't know why but when I press "open" nothing happens

[2021-03-19 11:41] viona31 commented on #191
@JonasVautherin Could you please tell what does "The operation couldn’t be completed. (MAVSDK_Swift.Action.ActionError error 1" error mean? Does this error correspond to MAV_RESULT_FAILED or MAV_RESULT_DENIED?

[2021-03-21 12:52] JonasVautherin commented on #189
I am not sure I understand. What is that "open" you press? Is it a button in a UI? :thinking:

[2021-03-21 12:59] JonasVautherin commented on #191
I think your log says `MAVSDK_Swift.Action.ActionResult.Result.unknown`. I would think it is sent from [here](https://github.com/mavlink/MAVSDK/blob/develop/src/plugins/action/action_impl.cpp#L217), so somehow `send_command_async()` fails with an "unknown" code...

Is it a PX4 drone?

[2021-03-22 09:14] viona31 commented on #189
Sorry, yes, that was the status of your newly created issue but I thought it's a button to reopen the current one.

![изображение](https://user-images.githubusercontent.com/24733295/111966524-11d36d00-8b08-11eb-9e91-a63afb16bd22.png)

I agree with this issue https://github.com/mavlink/MAVSDK/issues/1365

[2021-03-22 14:37] viona31 commented on #191
It's not but it uses mavlink for communication.

Firmware developer says:
For 'arm' command the drone returns https://mavlink.io/en/messages/common.html#MAV_RESULT
either MAV_RESULT_ACCEPTED or MAV_RESULT_FAILED or MAV_RESULT_DENIED.

Can either of this values lead to the error?

[2021-03-22 14:56] JonasVautherin commented on #191
I am sorry, at this point I think you'll have to go debug what's happening in C++. I only use PX4 myself, and in your case I don't even know what autopilot you are using.

[2021-03-22 14:58] viona31 opened #192 "Is there a way to listen to NAMED_VALUE_INT command?"
We wan't to listen to https://mavlink.io/en/messages/common.html#NAMED_VALUE_INT command with its data. Is there a way to do it with the SDK?

[2021-03-22 15:00] JonasVautherin commented on #192
The description says:

I would say that for experimenting, you should try with MAVSDK-C++ using the mavlink_passthrough plugin, that will give you low-level access to MAVLink messages :slightly_smiling_face:.

[2021-03-24 08:53] julianoes commented on #138
I hope this is no longer happening, closing.

[2021-03-24 08:53] #138 closed

[2021-04-08 16:55] rligocki opened #197 "Not able to connect to TXMOD-RFD868."
Hey guys,

currently I work on iOS custom design GCS. With default code it works for SITL simulator hosted in docker:
[code]
When I want to do same thing for TXMOD-RFD868 (http://store.rfdesign.com.au/rfd900-txmod-v2-rc-transmitter-module/), it does not work. As I read older issues, currently MAVSDK-Swift does not support communication initialisation. It waits for data from drone side. Problem is,

[2021-04-08 17:16] JonasVautherin commented on #197
By default (and that is the way you run it), MAVSDK will listen on udp port 14540. I am not sure how the TXMOD works, but you can try to change that port in MAVSDK:

[code]

And also try 14555, but intuitively I would try 14550 first.

[2021-04-08 18:36] rligocki commented on #197
Hi Jonas, thank you for fast response.

I tried your suggested code but with no luck. Maybe I will be able to debug whole problem with more knowledge. Currently I dont understand what "udp://:14550" does. Does it mean that mavsdkServer waits for incoming MAVLink packets from any devices on port 14550? What is the reason for port that this .run method returns? Does it mean that mavsdkServer receive

[2021-04-08 18:38] rligocki commented on #197
In QGroundControl I found in console log this information: "Adding target QHostAddress("192.168.4.1") 14555".

[2021-04-08 19:06] JonasVautherin commented on #197
Exactly.

This is internal to MAVSDK. The swift part (MAVSDK-Swift) talks to `mavsdk_server`, which is in C++. The port there is the one used between MAVSDK-Swift and `mavsdk_server`.

What's important is this `udp://:14540`, which says that your drone sends MAVLink packets on UDP 14540.

Yes, that's the other way. I believe that your drone sends to QGC:14550, and receives on Drone:14555. Converse

[2021-04-08 22:07] #197 closed

[2021-04-27 08:36] rligocki opened #198 "MissionItem is missing Actions (takeoff, transition, land)"
Currently I work on mission planning system and I found, that there is no option to add transition or any other action except creating waypoint. Am I missing something? I have idea to add array of actions with extension that will be executed when waypoint is reached.

[2021-04-27 09:09] JonasVautherin commented on #198
Yes you're right, a `MissionItem` is defined [here](https://github.com/mavlink/MAVSDK-Proto/blob/main/protos/mission/mission.proto#L164-L185).

Maybe a transition could be added as a `VtolAction`, similarly to the `CameraAction` [here](https://github.com/mavlink/MAVSDK-Proto/blob/main/protos/mission/mission.proto#L172)?

@julianoes what do you think?

[2021-04-27 09:27] rligocki commented on #198
Or it could be done as array of `Action`. Question is, how to modify MissionItem to make it compatible with MAVSDK C++ version and PX4. This is what I am missing. Bigger picture.

[2021-04-27 09:36] JonasVautherin commented on #198
The API is defined in the proto file [here](https://github.com/mavlink/MAVSDK-Proto/blob/main/protos/mission/mission.proto#L164-L185), then the C++ headers are auto-generated from that. But we need to find a way to add those features that is compatible with the auto-generation and hence the other supported languages (python, swift, java, go).

The MAVLink logic is implemented manually [here](https

[2021-04-27 09:45] rligocki commented on #198
I was thinking about whole mission planning idea same way as it is implemented in QGroundControl. Each step could be waypoint or waypoint with additional action (Takeoff, transition, landing). As you said, landing could be done with `SetBehaviorAfterMission` and I agree. But still I cannot find way to make same behaviour as in QGC.

[2021-04-27 09:56] JonasVautherin commented on #198
Oh right, then instead of `VtolAction`, actually it could just be an `Action`, that would have the transition, takeoff and land. Just like `CameraAction`, but just `Action`?

[2021-04-27 10:02] rligocki commented on #198
That was exactly what I was thinking about. But array or single variable of Action class for each waypoint? For simplicity it could be just one action. What about action behaviour? Will it refuse transition before landing? What if I will create Takeoff Action with different position of plane. Will it takeoff on current position and then go to defined position after setpoint altitude is reached?

[2021-04-27 14:31] JonasVautherin commented on #198
Agreed, one action per `MissionItem`, just like the `CameraAction` :+1:

This is a PX4/MAVLink question, right? I guess MAVLink does not specify that, and I don't know what PX4 does. But maybe that's not MAVSDK's problem, is it?

I think that actions for another type of vehicle should just be ignored, no need to refuse the mission. So if your third waypoint is a VTOL transition-to-fw, a VTOL will

[2021-04-27 19:52] rligocki commented on #198
So as I understand current CameraAction: After point is reached, MAVSDK sends Action command and autopilot reacts on it?

[2021-04-27 22:08] JonasVautherin commented on #198
No, the whole mission is uploaded beforehand, just like what QGC does. Under the hood, the `MissionItem` objects are translated to MAVLink messages :+1:. In other words, whenever you upload a mission with MAVSDK, you can download and inspect it in QGC (and the other way round).

[2021-04-29 09:17] rligocki commented on #198
Ok maybe I understand it now. So additional actions in `MissionItem` will be converted into separate MAVLink message and placed before or after MissionItem waypoint?

[2021-04-29 12:12] JonasVautherin commented on #198
Yes. I mean, not automatically, you have to implement that part :slightly_smiling_face:. But that's the idea :+1:

[2021-04-29 12:23] rligocki commented on #198
Perfect, now where exactly new implementation needs to be done? In Swift version of MAVSDK or C++ version?

[2021-04-29 13:31] julianoes commented on #198
@rligocki have a look here: https://mavsdk.mavlink.io/main/en/cpp/contributing/plugins.html

Of course, for this you would only extend the existing plugin, and not create a new one.

So the first step is here: https://github.com/mavlink/MAVSDK-Proto

[2021-05-24 09:43] rligocki opened #199 "MAVSDK structs and classes should conform protocol (Codable, Hashable, Identifiable)"
During development of iOS app to control PX4 vehicles I found, that there are too many structs and classes that does not conform to protocols like Codable, Hashable, Identifiable. All these protocol must be added explicitly in app code. This solution looks awful. What do you think?

[2021-05-24 14:45] JonasVautherin commented on #199
All the structs and classes are auto-generated, so it's "just" a matter of changing the templates. If you could give examples of some structs/classes as they are now, and how they should be modified, I can help with the templates :+1:.

I am just not a Swift developer, so I need help on that side :blush:

[2021-08-10 10:56] Rikhsitilla opened #201 "Can not connect mavsdk server"
Hi everyone, i had  a problem with mavsdk server

# !/usr/bin/env python3
import asyncio
from mavsdk import System
async def run():
    drone = System(mavsdk_server_address="127.0.0.1")
    await drone.connect(system_address="udp://127.0.0.1:14540")
here is my code
I also used udp://:14540 ,udp://:14550,udp://:5600
but did not work
i have a following info
    Waiting for mavsdk_server to be ready.

[2022-02-22 22:08] rligocki commented on #199
I tried to add Codable protocol to all enums, structs and classes. Problem is that even when I added Codable protocol to templates, there are still some data structures, that are not generated with Codable protocol. One of the problematic class is Mavsdk_Rpc_Core_CoreServiceClient. Where is a template for generation of this class?

[2022-02-22 22:35] JonasVautherin commented on #199
Is it not generated by gRPC?

[2022-05-20 08:47] L00rdD opened #209 "Documentation not up to date."
I'm trying to use the MAVSD-SWIFT v1.0.0, but it seems that none of the connection lines described in the README works for me. It seems that the connection system has been updated the *Drone* constructor does not have the  address or port has parameters.

Would it be possible to update the README or provide a link to a up to date documentation ?

[2022-05-20 08:59] JonasVautherin commented on #209
Does the example help? https://github.com/mavlink/mavsdk-swift-example

[2022-05-29 20:35] L00rdD commented on #209
Perfect for my needs !!! Would still be great to have an updated Readme so 🤔

If you think the issue is closed it's good for me 👌 thx a lot for your reactivity.

[2022-05-29 21:40] JonasVautherin commented on #209
Would you be willing to open a PR updating the README? That would be super appreciated :hugs:

[2022-08-09 19:23] mmanionRIIS opened #214 "Have to connect to QGC first and then run sample app, otherwise telemetry won't display."
When I run the MavSDK sample app, I am able to connect to my mavlink drone. But I’m not able to read much of the telemetry. However, if I connect to QGroundControl first, then close out of QGC and then run the sample app, it does pick up the Telemetry.   We are using "udp://:14550" instead of the default "udp://:14540" if that makes a difference.

Any ideas on what may be causing this?

_Without c

[2022-08-10 00:38] julianoes commented on #214
What telemetry does the drone send by default? And is it a PX4 or ArduPilot drone?

[2022-08-10 13:30] mmanionRIIS commented on #214
It is Ardupilot. I'm not sure what you mean by "send by default".

The 1st screenshot above shows what happens if you connect without connecting to QGC first, but I'm not sure if that is what you're looking for.

[2022-08-11 18:30] mmanionRIIS commented on #214
I tried implementing "setRate" functions for GPS, Battery, and Position. I ran it with the setRate in the TelemetryViewModel and in the TelemetryDetailViewModel, adding it into the ObserveTelemetry functions in both cases. No luck.

I wasn't sure if I was setting the right Hertz so I tried at 1,5,10,100 all different levels.

<img width="511" alt="Screen Shot 2022-08-11 at 2 24 53 PM" src="https:/

[2022-08-12 09:21] julianoes commented on #214
I'm not sure what to suggest as there are two uncertainties at play, ArduPilot and working with the Swift wrapper. I'm not sure what to suggest except trying it with a C++ example first, or trying it against PX4...

[2022-08-15 11:38] mmanionRIIS commented on #214
I'll look into trying it with C++ and PX4, thank you for your help!

[2022-08-15 11:38] #214 closed

[2022-08-28 14:12] mmanionRIIS opened #215 "Parameters - setParamFloat works but setParamInt does not"
I am able to change the parameters with setParamFloat, but not with setParamInt. I'm thinking it might have to do with using Int32, but thats just speculation. The weird thing is that setParamInt will return "onCompleted" so it will appear that it successfully changes the param, but it does not. Anyone else come across this?

[code]

[2022-08-28 17:28] JonasVautherin commented on #215
What param are you setting? What autopilot (I assume PX4?), and what version of it?

[2022-08-28 17:50] mmanionRIIS commented on #215
I'm using ArduPilot. I'm unable to change the RTL_LOIT_TIME or RTL_ALT.

I also tried the PILOT_ACCEL_Z,  TERRAIN_SPACING, and STAT_RUNTIME as well, all unsuccessfully.

[2022-08-29 01:30] julianoes commented on #215
What version of mavsdk_server or MAVSDK-Swift is it using? There have been some fixes, and for ArduPilot there might be some more coming up with MAVSDK v2.0.

[2022-08-29 14:06] mmanionRIIS commented on #215
I've updated to the latest version of the MAVSDK-Swift on the Main Branch, so 1.1, looks like it was updated 2 months ago.

Drone Specs:
<img width="695" alt="Screen Shot 2022-08-29 at 8 54 08 AM" src="https://user-images.githubusercontent.com/100305005/187220096-10e23a12-61c2-4775-9a71-ff60d1e501e9.png">

[2022-08-29 16:42] JonasVautherin commented on #215
MAVSDK-Swift is on mavsdk-server 1.4.2: https://github.com/mavlink/MAVSDK-Swift/blob/main/Package.swift#L50. Let me try to update that to 1.4.4 tomorrow :+1:

[2022-08-30 02:47] julianoes commented on #215
Right, so there have been a couple of fixes since:
https://github.com/mavlink/MAVSDK/pull/1703
https://github.com/mavlink/MAVSDK/pull/1788

You can see the changes here: https://github.com/mavlink/MAVSDK/releases

[2022-09-01 12:08] JonasVautherin commented on #215
Could you try with the newly-published [MAVSDK-Swift v1.1.1](https://github.com/mavlink/MAVSDK-Swift/releases/tag/1.1.1)?

[2022-09-01 21:25] mmanionRIIS commented on #215
I updated to 1.1.1 and unfortunately had the same result.

[2022-09-01 22:59] JonasVautherin commented on #215
Any chance you could try to debug what's happening in C++? Two ways:

1. Build MAVSDK-C++ and try it there from your laptop (I guess it's a problem related to Ardupilot, not iOS).
2. Build MAVSDK-C++ with mavsdk_server, run mavsdk_server on your laptop, and connect your iOS app to it using [this interface](https://github.com/mavlink/MAVSDK-Swift/blob/main/Sources/Mavsdk/Drone.swift#L66).

I would

[2022-09-01 23:48] mmanionRIIS commented on #215
Thank you, will try this tomorrow and let you know how it goes!

[2022-09-02 16:34] mmanionRIIS commented on #215
Still working on resolving some errors I'm getting when building the C++. I'd bet this is on my end and will let you know when I get the C++ app up and running.

I'm pretty sure my error is related to https://github.com/mavlink/MAVSDK/issues/1875

<img width="816" alt="Screen Shot 2022-09-02 at 12 11 51 PM" src="https://user-images.githubusercontent.com/100305005/188195381-bbdf320d-8af2-47b2-89fa-

[2022-09-02 22:05] JonasVautherin commented on #215
Seems like you are trying to build an example from `main` with a MAVSDK from `1.4.x`. How did you install MAVSDK? You should build it from `main` :+1:

[2022-09-06 12:06] mmanionRIIS commented on #215
I installed MAVSDK on MacOS using Homebrew, following this: https://mavsdk.mavlink.io/main/en/cpp/quickstart.html

[2022-10-31 07:35] fanfans1 opened #217 "How do I connect the camera on the simulator"
In QGC you can choose to change the video source and port number to get the emulator video stream, but how do you get it in mavsdk-swift?
MAVSDK version: v1.4.2

[2022-10-31 13:22] JonasVautherin commented on #217
Which emulator?

MAVSDK only exposes the camera messages. So for instance you can receive the `VIDEO_STREAM_INFORMATION` message that will tell you where a video stream is, and using the library of your choice you can access this video.

[2022-10-31 13:38] fanfans1 commented on #217
Yes, I use Gazebo Simulation. Because we don't have drones yet, we're running on a simulator. I used the MAVSDK-Swift-Example code. Except for the video display function, everything else is normal, and then do not know how to solve. (this is QGC in simulator run: https://docs.px4.io/main/en/simulation/gazebo.html)

[2022-10-31 13:55] JonasVautherin commented on #217
MAVSDK won't play the video for you. You have to use a Swift library for that. I think that by default Gazebo sends the video as an RTP stream. You need to handle that in your app (e.g. using gstreamer or similar), but that's not involving MAVSDK.

Does that make sense?

[2022-10-31 14:06] fanfans1 commented on #217
I can assume that the current code (using the MAVSDK-Swift-Example method for getting video streams) is fine, mainly because the emulator does not support it, and if you run it on a drone, it will not be a problem. Is that right?

[2022-10-31 14:49] JonasVautherin commented on #217
It should not, but it also depends a bit on the drone :see_no_evil:. So you should test the camera against the drone indeed :+1:

[2022-10-31 14:53] fanfans1 commented on #217
All right, thanks

[2022-10-31 16:21] #217 closed

[2022-11-01 05:20] StephaneZong opened #218 "Does mavsdk support serial port connection？"
Does mavsdk support serial port connection？
If support，how to connect？

[2022-11-01 09:25] JonasVautherin commented on #218
It does, if you pass it a URL like (that would be on Linux) `serial:///dev/ttyACM0`.

Now I don't think that you can have serial access from iOS, can you? :thinking:

[2022-11-03 09:23] fanfans1 opened #219 "How do I connect multiple drones?"
How do you get information about nearby drones before you connect them? Is it obtained through UDP broadcast? The data obtained by UDP cannot be parsed. mavlink is required to parse the data. Procedure How do multiple drones connect? Do I instantiate multiple mavsdk.startServer(systemAddress: "udp://:14550 ") methods?

[2022-11-03 10:32] JonasVautherin commented on #219
You need to run one MAVSDK instance per drone. So you cannot have them all broadcast on `udp://:14550` (instead they should broadcast on different ports).

Does that make sense?

[2022-11-03 10:51] fanfans1 commented on #219
ok thanks

---Original---
From: "Jonas ***@***.***&gt;
Date: Thu, Nov 3, 2022 18:33 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [mavlink/MAVSDK-Swift] How do I connect multiple drones? (Issue#219)

You need to run one MAVSDK instance per drone. So you cannot have them all broadcast on udp://:14550 (instead they should broadcast on different ports).

Does that make sense?

[2022-11-03 10:53] fanfans1 commented on #219
Is there a way to parse drone broadcasts through Mavsdk

---Original---
From: "Jonas ***@***.***&gt;
Date: Thu, Nov 3, 2022 18:33 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [mavlink/MAVSDK-Swift] How do I connect multiple drones? (Issue#219)

You need to run one MAVSDK instance per drone. So you cannot have them all broadcast on udp://:14550 (instead they should broadcast

[2022-11-03 11:24] JonasVautherin commented on #219
No, not in Swift

[2022-11-07 08:14] fanfans1 opened #220 "Hello, when I run Mavsdk-Swift-Example, after connecting the UAV, the CPU will reach 30%. What causes this problem? Can it be solved?"

[2022-11-07 08:15] fanfans1 commented on #220
Running Mavsdk-Swift-Example at iOS

[2022-11-07 08:16] fanfans1 commented on #220
Running Mavsdk-Swift-Example at iOS

[2022-11-07 10:11] JonasVautherin commented on #220
Difficult to know without knowing which device you are using, which version of MAVSDK, etc.

[2022-11-07 10:20] fanfans1 commented on #220
MAVSDK version: v1.4.2, iPhone X。

[2022-11-07 10:34] JonasVautherin commented on #220
Interesting. I never profiled it on an iPhone, I don't know what to expect there. Does it consistently stay at 30% during the flight?

[2022-11-07 10:39] fanfans1 commented on #220
Yes, our drone temporarily runs on simulators, sometimes the CPU reaches 50

---Original---
From: "Jonas ***@***.***&gt;
Date: Mon, Nov 7, 2022 18:34 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [mavlink/MAVSDK-Swift] Hello, when I run Mavsdk-Swift-Example, after connecting the UAV, the CPU will reach 30%. What causes this problem? Can it be solved? (Issue #220)

Interestin

[2022-11-07 12:28] JonasVautherin commented on #220
Without the video stream?

[2022-11-07 12:48] fanfans1 commented on #220
No, it contains video streams

---Original---
From: "Jonas ***@***.***&gt;
Date: Mon, Nov 7, 2022 20:29 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [mavlink/MAVSDK-Swift] Hello, when I run Mavsdk-Swift-Example,after connecting the UAV, the CPU will reach 30%. What causes this problem?Can it be solved? (Issue #220)

Without the video stream?

—
Reply to this email directly,

[2022-11-07 14:15] JonasVautherin commented on #220
Can you try without the video streams, for comparison?

[2022-11-07 14:25] fanfans1 commented on #220
I tried, without video streaming CUP is about 2% lower, after changing to the iPhone 11, CUP becomes about 18%

---Original---
From: "Jonas ***@***.***&gt;
Date: Mon, Nov 7, 2022 22:16 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [mavlink/MAVSDK-Swift] Hello, when I run Mavsdk-Swift-Example, after connecting the UAV, the CPU will reach 30%. What causes this problem? Can it

[2022-11-07 22:11] julianoes commented on #220
Sounds like video streaming is the reason then? Make sure to use video encoding in hardware. Not sure how that works on iOS but I'm sure there are guides.

[2022-11-25 23:18] brunocrocha99 opened #221 "Is it possible to use Manual Control with an UI joystick?"
I'm trying to create a simple UI to control simulated and real drones. I can do simple things like taking off and landing, but i wanted to add a joystick, so that the user can control roll, pitch, throttle and yaw. I saw a manual control example in the mavsdk-python repo, but when i try to adapt it in swift, the `drone?.manualControl.setManualControlInput` results on the drone executing the low ba

[2022-11-25 23:27] JonasVautherin commented on #221
There is another example (in C++) [here](https://github.com/mavlink/MAVSDK/blob/main/examples/manual_control/manual_control.cpp#L155), where it is sending the message every 20ms.

Long story short: yes :blush:. That's also by design: if your app stops sending updates, we want the autopilot to interpret that as "connection to the RC was lost, time to failsafe", instead of e.g. continuing with the l

[2022-11-25 23:49] brunocrocha99 commented on #221
Thank you for the unexpected extra fast reply 😄.

In the C++ example, why is it need to map the throttle values from [-1,1] to [0,1]? The function accepts values lower than 0.5 for downwards throttle?

(I'm not sure if this is the right place to ask this questions, I really just want to have a working iOS MAVLINK GCS 🙏 )

[2022-11-25 23:55] JonasVautherin commented on #221
Not entirely sure, but my guess would be that a negative throttle in MAVLink means "rotate the props in the opposite direction". So 0 means "no throttle", and usually you want to go between 0 and 1.

[2022-11-25 23:59] brunocrocha99 commented on #221
Ok, i will close this issue, since my original question is answered. If I have any other questions should I just open another issue or is there any other platform (like slack for example) ?

[2022-11-26 00:48] JonasVautherin commented on #221
An issue is fine, otherwise there is https://discuss.px4.io/, and there is a Discord at https://discord.gg/Dronecode :+1:

[2022-11-26 13:21] #221 closed